[2015-04-22 17:46] dsandstrom opened #1 "Typo in settings"
`Gorup Palette Colors` -> Group

[2015-04-22 17:59] braver opened #2 "thinks @component-line-height is a color"
In isotope's [buttons.less line 117](https://github.com/braver/isotope-ui/blob/master/styles/buttons.less#L117) it highlights `@component-line-height` in black:

![screen shot 2015-04-22 at 19 57 50](https://cloud.githubusercontent.com/assets/2543659/7281431/df0b17aa-e929-11e4-961d-7ccafc740571.png)

This variable is defined in `ui-variables.less` as a value in `rem`.

[2015-04-22 18:25] abe33 commented on #1
Nice catch :+1:

I bet I should add tests for the config signature to avoid that in the future :)

[2015-04-22 18:28] abe33 commented on #2
I just downloaded your theme so that I can test that as well as the performances issues you mentionned on discuss.

It shouldn't be hard to fix that so I think I'll publish a patch this evening.

[2015-04-22 19:40] #1 closed

[2015-04-22 19:40] #2 closed

[2015-04-23 00:36] dsandstrom opened #3 "Weird autocomplete-plus suggestions"
With package disabled:
![2015-04-22_1728](https://cloud.githubusercontent.com/assets/1400414/7288350/3cd2b646-e915-11e4-880a-b26724c2a5c1.png)

With package enabled:
![2015-04-22_1727](https://cloud.githubusercontent.com/assets/1400414/7288360/5271d5f4-e915-11e4-957b-7e82dd4d03d7.png)

I'm not sure what the intended behavior is, but:
- the suggestions don't seem right.  It's only suggesting sass v

[2015-04-23 07:52] abe33 commented on #3
@dsandstrom Yeah, you're right, there's a problem with current autocomplete, using fuzzy-matching isn't really the best course of actions, I should really use a more stricter filtering function. I think I'll push a patch in today for that.

[2015-04-23 12:29] braver opened #4 "variables that aren't colors in find colors"
highlighting in files is improved, but there are still a lot of hits in the find results that shouldn't be there.

![screen shot 2015-04-23 at 14 25 21](https://cloud.githubusercontent.com/assets/2543659/7297004/01cea63a-e9c5-11e4-8669-3710fb125447.png)

[2015-04-23 12:47] abe33 commented on #4
Yes I had noticed that too when running the search in isotope, I have an idea of the problem origin so it should be fixed quickly, I just have to find how to reproduce that in the tests so that I can make sure it doesn't break later.

Anyway, thanks for all the feedback, that's really helpful!

[2015-04-23 20:22] #3 closed

[2015-04-23 22:35] abe33 commented on #4
Fixed in 0.1.4

[2015-04-23 22:35] #4 closed

[2015-04-24 20:00] TristanBrotherton opened #5 "Perfomance issues"
This slows Atom to a crawl. I'd love to give you more 'useful' information if you tell me what I can do.

[2015-04-25 01:00] dsandstrom commented on #5
@abe33 I ran a few profiles, hopefully they help:
Pigments and autocomplete-plus enabled: https://gist.github.com/dsandstrom/f78d8000097427244be0
Pigments and no autocomplete-plus: https://gist.github.com/dsandstrom/a24bd1262bf7b7167623
No pigments: https://gist.github.com/dsandstrom/a13bc517eca0df059802

@TristanBrotherton See https://discuss.atom.io/t/looking-for-testers-for-pigments/16301 for f

[2015-04-30 10:54] kotarok opened #6 "Uncaught TypeError: Cannot read property 'getColorVariables' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.194.0
**System**: Mac OS X 10.9.5
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.1.4

### Stack Trace

Uncaught TypeError: Cannot read property 'getColorVariables' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-30 11:49] abe33 commented on #6
Can you give me some details on the context in which this error occurred?
Did you update pigments from the settings panel before the error occured?

[2015-05-01 17:08] dsandstrom commented on #5
I think this is fixed by v2.0.

[2015-05-01 20:55] buunguyen commented on #6
Got same error every time I typed something (anything) in an SCSS file. Pigment 0.1.4 and was updated via the settings panel.

[2015-05-01 23:06] ProLoser opened #7 "Crashes Atom when used with autocomplete-plus"
When used with autocomplete-plus only, simply writing a few characters in a `scss` file causes the entire editor to crash.

See https://github.com/atom-community/autocomplete-plus/issues/429

[2015-05-04 21:36] abe33 commented on #5
Hi there, sorry to catch up only this late.

As @dsandstrom noticed, v0.2.0 fixes performances problem in the autocomplete provider and in various other spots, but of course there's still room for improvements. As always it's make it works, make it fast.

The provider issue was mainly time spent generating the color palette by filtering the whole variables set, which require evaluating if the vari

[2015-05-04 21:41] abe33 commented on #7
Thanks for the reports, Can you give some basic details about your configuration like the version of Atom, autocomplete-plus and pigments?

I'm not able to reproduce that with the latest version of all packages.

[2015-05-04 22:44] ProLoser commented on #7
It happens when I start to type inside an SCSS file.

[2015-05-04 22:59] ProLoser commented on #7
Despite this list, I've actually disabled all third-party plugins except autocomplete-plus and pigments. I also updated to the latest version compared to the versions mentioned in the linked-to issue.

[code]

[2015-05-05 10:19] abe33 commented on #7
@ProLoser: I'm really sorry for the inconvenience, I'll need you to answer some additional questions as I'm still looking for a way to reproduce this problem:

Does it crashes instantly or does it freezes and displays the *Editor not responding* dialog?
Do you work on a large project? By large project I mean one with lots of scss/sass files, lots of variables, etc.
Does the other pigments features

[2015-05-05 16:42] ProLoser commented on #7
It freezes and displays _editor not responding_

Yes, it's a fairly big project, and yes, lots of files and variables.

Yes, other features work.

`Extend Autocomplete To Variables` wasn't even enabled, I just have default config.

I can open a scss file and be fine, but as soon as I type 4 characters the editor locks up. This seems to be consistently around 4 characters or the amount of time it t

[2015-05-05 17:09] ProLoser commented on #7
So my guess (poking around settings) is that a scan is being initiated and I just have too big of a project so it's locking up the editor. Is there any way to do some sort of indexing in a web-worker or relegate this to a background process?

[2015-05-07 10:05] toastman opened #8 "Uncaught TypeError: Cannot read property '1' of undefined"
Steps to reproduce :

1. Install package
2. Create *.scss file with some color variable (e.g $color-green:#29af09;)
3. Try to use "Pigments: Find Colors"

**Atom Version**: 0.196.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.2.0

### Stack Trace

Uncaught TypeError: Cannot read property '1' of undefined

[code]

### Commands

[code]

[2015-05-07 14:07] eliasyanni commented on #7
Agreed editor lockup due to large project or file.

### steps to reproduce:

1. Choice a CSS or LESS file
2. Add a property and color value

**Atom Version**: 0.196.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.2.0

### Stack Trace

Uncaught RangeError: Maximum call stack size exceeded

[code]

### Commands

[code]

### Config

[code

[2015-05-08 17:28] buckyoung opened #9 "Poor performance with autocomplete-plus"
Causes Atom to freeze for ~3-5 seconds when autocomplete (https://github.com/atom-community/autocomplete-plus) kicks in.

[2015-05-08 17:30] buckyoung commented on #9
Atom version 0.198.0
autocomplete-plus version 2.12.1
pigments version 0.2.0

[2015-05-11 02:51] plttn opened #10 "minimap-color-highlight"
Does that plugin support pigments just yet (or will pigments include a minimap binding in the near future)?

[2015-05-11 07:39] abe33 commented on #10
I had planned to create a `minimap-pigments` plugin, the pigments API is a bit different than the `atom-color-highlight` one so I think it'll be better as two separate plugin. But be reassured it'll come at some point, I'm waiting a bit so that pigments performance got better.

[2015-05-11 07:57] abe33 commented on #7
Thanks both of you for the details,

@ProLoser: I'm using a `Task` for mostly every heavy stuff (finding the paths, scanning the paths for variables, scanning the buffer for variables and colors) so it should already be off the main thread. But maybe it's on the event reception that something get messed up.

@ProLoser, @eliasyanni Does the projects that cause pigments to crash Atom are publicly av

[2015-05-11 08:09] abe33 commented on #9
Thanks for the report, can you give more details about the project in which the problem occurs? Is it public?

[2015-05-11 08:34] ProLoser commented on #7
Maybe look at the sass/foundation source files, in a file that includes all the others, and try typing into that file with autocomplete-plus enabled.

[2015-05-11 13:26] buckyoung commented on #9
Unfortunately, the repo is not public. Its a large web app with several (~40+) (4kb-500kb) scss files. Bootstrap scss files included.

Ultimately, when I load up Show Palette (~4seconds), there are over 200 colors defined across 10 files.

[2015-05-14 09:35] abe33 commented on #7
Ok guys, I've been able to reproduce it using compass sources. I still haven't found the reason why it crashes, so stay tuned.

[2015-05-14 14:02] abe33 commented on #7
I just published a new version that at least fixes crashes when I open compass.
The variables parser was catching too much things like mixins and functions declarations (which can have default values for arguments).
For compass, for instance, the number of variable found dropped from 1100+ to 230. And when converting these variables to colors it probably entered in an infinite loop.

Let me know i

[2015-05-14 18:46] ProLoser commented on #7
Nope, still crashing.

[2015-05-15 15:12] micnigh commented on #7
We've run into this issue and had some success tracking it down.

In our case the crash happened due to including variables from `node_modules` which pushed the variable count to 2400+.  Then pigments must be entering an infinite loop as the stack overflows shortly after starting the autocomplete process.

Our current workaround is to disable searching in `node_modules` in our config
[code]

We al

[2015-05-15 15:20] olmokramer opened #11 "Feature request: scale dot markers to text/font size"
The dot color markers have a fixed width/height of 16px/16px. That's fine with the defaults for font-size, but I like to zoom in/out sometimes, after which the markers are too large or too small:
![pigments dot overlap](https://cloud.githubusercontent.com/assets/3612514/7655553/7755ad84-fb24-11e4-808c-29c9c63a0daf.png)
Note how the markers are overlapping each other.

I suggest setting their width

[2015-05-16 22:19] bobrocke opened #12 "Color words are highlighted"
Word in .md text such as `gold` are being highlighted as a color. The .gfm scope is not shown as an autocomplete scope.

[2015-05-18 00:52] ProLoser commented on #7
@abe33 actually I was wrong, I think your fix solved the problem. @micnigh I think all that was needed was to remove the cached variables, try it without ignoring node_modules. I had to make sure to clear cache before it started working again.

[2015-05-18 01:24] micnigh commented on #7
I tried clearing my cached variables and running without ignoring `node_modules` but the editor would still crash for me.

@abe33
If it helps I can see about setting up a project to reproduce the problem - likely a few days out though.

[2015-05-18 08:11] abe33 commented on #7
@micnigh For the time being, I think I'll completely exclude `node_modules` by default and add a command to clear the project state so that we doesn't have to touch to storage.

Anyway, thank you guys for the feedbacks, it's really appreciated :bow:

[2015-05-18 11:22] BlaM opened #13 "Uncaught TypeError: Cannot read property 'filter' of undefined"
[Enter steps to reproduce below:]

Not sure if the crash/stack trace below actually belongs to the problem I'm observing, but it was triggered ONCE by the behavior I see here:

1. Create a new file and save as freeze.css
2. Type ".a"
3. Editor locks up.

**Atom Version**: 0.199.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.2

[2015-05-18 11:51] abe33 commented on #12
Have you tried putting `\.source\.gfm` in the `Ignored Scopes` setting?
It's purpose is to allow to hide markers using the grammar scope they belong to.

[2015-05-18 11:53] abe33 commented on #11
Thanks for the report, I agree it should be bound to the editor's styles, I'll make the change soon.

[2015-05-18 11:57] abe33 commented on #13
Not sure why you added `**/*.css` to the source names setting, as actually CSS files aren't source for project variables (this is a feature that make sense for pre-processors, not really for plain old CSS).

Can you tell me if you get the same behavior when you remove `**/*.css` from the setting?

[2015-05-18 12:02] abe33 commented on #6
Do you have the same issue with the latest version?

[2015-05-18 12:04] BlaM commented on #13
I removed the *.css entry and tried again:

- When I type ".a" in a new .css file I get now get the stack trace from above
- When I type ".a" in a new .less file the editor freezes up ("Editor is not responding...")

[2015-05-18 12:10] BlaM commented on #13
Okay, just noticed something else: It only happens when I'm in my project and not if I open another directory. So I guess this is caused by one of the CSS files in the project directory?

My one CSS so far is extremely minimalistic, but I have these "vendor" dependencies:

* bootstrap 3.3.4
* bootstrap-datepicker 1.4.0
* font-awesome 4.3.0
* summernote 0.6.6

[2015-05-18 12:39] #11 closed

[2015-05-18 12:55] abe33 commented on #13
Hmm, can you try something for me?
In the devtools console can you run the folowing code and put the output of the second line in a gist:

[code]
I would like to confirm whether there's garbage in the project's variables list.

[2015-05-18 14:22] olmokramer commented on #11
Awesome! Thanks :)

[2015-05-18 14:35] abe33 commented on #11
There's probably a need for some adjustments as I can't really rely on `vertical-align` to position the markers vertically. Let me know if you encounter a situation where the current rule gives unexpected results.

[2015-05-18 14:45] BlaM commented on #13
Tried it with these results:

- If I start Atom freshly (in the project directory) and execute the code above: getVariables() returns "undefined" -> map() fails.

- If I start Atom freshly, create a CSS file, type .a (gives me the "property 'filter' of undefined" error message) and THEN execute your code above the console locks up. I tried leaving the ".map()" away and I get an array of 8593 eleme

[2015-05-18 14:51] BlaM commented on #13
I just updated the package to 0.3.0 while having it disabled. Then when I tried to enable the package I get...

### Stack Trace

Failed to activate the pigments package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-18 14:54] BlaM commented on #13
The package is now active, but ".getVariables()" always seems to return undefined, even after editing the .css file

[2015-05-18 14:56] abe33 commented on #13
Can you try running the `pigments:reload` command?

[2015-05-18 14:58] BlaM commented on #13
Same result. Ends up with "undefined" as returned value of getVariables();

[2015-05-18 14:59] abe33 commented on #13
And what gives `project.getPaths()`? Maybe I've forgot to initializes the variables array when there's no source paths (if you only work with CSS it could occurs).

[2015-05-18 15:05] BlaM commented on #13
Took some time (does it need time to initialize? I'm working on an SMB-Share), but getVariables now returns an array.

Calling JSON.stringify on that thing still does not work, though.

 getPaths() returns an array of 278 file paths.  (LESS and SCSS files).

[2015-05-18 15:14] abe33 commented on #13
Yes, on the first load, or when you use the reload command, it has to find and scan all the source files in the project. So if your project is quite huge it can take some time. That's why `project.initialize()` returns a promise, because it's hard to predict when all the variables will be available.

I'll be interested in a description of your project structure, to see if I can reproduce that on m

[2015-05-18 15:38] BlaM commented on #13
Okay, maybe it's the "loading everything" that causes the problem then. So in that case an emergency exit would totally make sense.

The project I'm currently working on is not so big - but it actually took me until now to notice that I'm not working in the "project" itself, but in it's parent folder (i.e. my current project resides in y:\dominik\myproject, but I started Atom in y:\dominik). And t

[2015-05-18 15:51] olmokramer commented on #11
It looks great right now! But that's mostly because I'm using the default `1.3` for the `editor.lineHeight` setting. Other values for `editor.lineHeight` look a bit weird because the dot isn't centered on the line.

`(atom.config.get('editor.lineHeight') - 1) / 2` for the `margin-top` of the dots looks great in general. So you can solve this by `atom.observe('editor.lineHeight', ...)` and update t

[2015-05-18 16:13] buckyoung opened #14 "Uncaught SyntaxError: Invalid regular expression: /\/: \ at end of pattern"
Reproduce:
1. Type "\" in ignored scopes (in Settings)

**Atom Version**: 0.199.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.3.0

### Stack Trace

Uncaught SyntaxError: Invalid regular expression: /\/: \ at end of pattern

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-18 16:32] abe33 commented on #14
Thanks for the report, I had encountered this one too, I'll add a trap for that case in the next patch

[2015-05-18 18:18] bobrocke commented on #12
That was the adjustment needed! I thought the Autocomplete Scopes were the only ones to be parsed.

Thanks!

[2015-05-18 23:15] Mayccoll opened #15 "Square dots"
Hi, tnks for this nice plugin.
You may include square dots?

![square](https://cloud.githubusercontent.com/assets/2009698/7692388/b5cfbb74-fd89-11e4-8fd6-5d4374079766.png)

Tnks again

[2015-05-18 23:27] Mayccoll opened #16 "Color Picker Integration"
It would be very useful to integrate this plugin with a color picker. Clicking on the dot or an icon next to.

![picker](https://cloud.githubusercontent.com/assets/2009698/7692590/653ff384-fd8b-11e4-94a9-e71d95b5cf03.png)

Tnks

[2015-05-19 00:28] bobrocke opened #17 "Failed to activate the pigments package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.199.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.3.0

### Stack Trace

Failed to activate the pigments package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-19 07:43] abe33 commented on #12
Autocomplete scopes allow to specify for which grammar the autocomplete provider kicks in. I thought the setting's descriptions was enough, I'll try to improve them :).

[2015-05-19 07:44] #12 closed

[2015-05-19 07:53] abe33 commented on #15
Thanks for the suggestion, I'll see to add a setting for that, for the time being you can use this rule to remove the `border-radius` on the dots in your user stylesheet:

[code]

[2015-05-19 08:01] abe33 commented on #16
I was considering adding a color picker to pigments, I was waiting to see if the maintainer of the color-picker package was willing to update its package to support the 1.0 API.
I'm not sure when I'll be able to look at that, I have still a lot of work with performances and heavy project handing. But I'll definitely do something around that some day.

[2015-05-19 08:09] #17 closed

[2015-05-19 14:48] #14 closed

[2015-05-19 17:52] buunguyen commented on #6
@abe33 so far no issue.

[2015-05-26 07:39] Blacx opened #19 "Uncaught RangeError: Maximum call stack size exceeded"
Reproduce:

1. Open the Command Pallete
2. Choose Pigments: Find Colors

**Atom Version**: 0.201.0
**System**: Microsoft Windows 8
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.3.1

### Stack Trace

Uncaught RangeError: Maximum call stack size exceeded

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-26 09:39] abe33 commented on #19
Can you give some details about the project in which this error occurred? How large is it? (in term of files, # of variables, etc.).

[2015-05-26 10:26] Blacx commented on #19
Hmm, the good news is the issue is does not happen again.
I got atom error package dialog at first time installed the Pigments. The problem does not reoccur after the second action.

The bad news is I'm not sure why this happen.
For additional information, I using **3360 colors found in 160 lines** (*everything was fine after that*)

[2015-05-26 10:53] Blacx commented on #19
Oops, it happen again when I change the value : border-color

![pigment_rengerror](https://cloud.githubusercontent.com/assets/1876100/7810857/e01eafa6-03cf-11e5-9e09-8487162296de.png)

Sorry.

[2015-05-26 12:18] abe33 commented on #19
I have found articles stating that this kind of errors could occurs in a map when the source array is too big, I guess internally it uses some kind of recursive approach that makes the call stack grows. I can't publish a patch right now as I have some breaking changes pending (some that may allow you to reduce the amount of files used a source by the package), I'll hope to publish it in the course

[2015-05-26 14:42] Blacx commented on #19
Thanks,

[2015-06-01 13:32] kyleknighted opened #21 "Question: Why aren't color variables highlighted but standard colors are?"
If I use an actual color, then Pigments will highlight it, but it doesn't seem to highlight my variables.

I have one main SCSS file that `@import`s all of my different SCSS files, so I don't include the the individual colors at the top of every single SCSS file. Is there a way to make this work?

![image](https://cloud.githubusercontent.com/assets/122591/7913831/77eba750-0838-11e5-8242-8ec08776e2

[2015-06-01 13:39] abe33 commented on #21
Hmm, it should work out-of-the box, except if the color declaration couldn't be parsed by pigments. Can you provide me a sample file of where your variables are declared?

FWIW, before v0.4.0 there was an issue with colors declared after sass/scss mixins, maybe these variables were falling in that case. Let me know if you still have the problem with v0.4.0.

[2015-06-01 14:23] kyleknighted commented on #21
I have a Global.scss file with all the core styles/mixins/variables/etc

[code]

And that Global.scss file is `@import`ed into `application.css.scss` file on a Ruby app.

The `application.css.scss` file also have the `@import` for the individual page styles which is where I snapped the screen shot from the OP.

![image](https://cloud.githubusercontent.com/assets/122591/7914943/dd4d9ea8-083f-11e5-8

[2015-06-01 14:32] abe33 commented on #21
Sorry if I didn't make myself clear, what I need is for instance a sample of the file where `$color__text--light` is declared (the bigger the sample the better as parsing can be affected by code before the actual declaration of the variable).

As for `@imports` or `//= require`, pigments don't care about that, as it's require to know about the build process (paths can be affected by the app assets

[2015-06-01 14:39] kyleknighted commented on #21
All my color files are the same, with just different variables.

[code]

[2015-06-01 14:42] kyleknighted commented on #21
I have the source names in the settings as
`./styles/global/colors/**/*.scss, ./vendor/assets/bower_components/etch/styles/global/colors/**/*.scss`

Which are the paths to where the SCSS files are on the three main projects I develop on.

[2015-06-01 14:54] abe33 commented on #21
Hmm, looks like there's nothing wrong with the declarations itself. My guess is that you patterns in the source names settings is a bit too specific.

Can you try the following code in the console to see if the paths where your variables are specified are present in the paths array:

[code]

If you works on projects with a great number of file, I'd rather use the per-project `ignoreNames` setting

[2015-06-01 15:08] kyleknighted commented on #21
Are the Ignored Names and the Source Names relative to the root of the project or relative to the file system? Because even adding items to the Ignored Names doesn't seem to change the elements in the getPaths() results.

[2015-06-01 15:11] kyleknighted commented on #21
![image](https://cloud.githubusercontent.com/assets/122591/7915920/4bdf804c-0846-11e5-9169-b0e35ba16028.png)

I have 113 SCSS files but I have `/Users/kknight/Sites/mansfield/app/assets/stylesheets/**/*.scss` in the ignored names section. I have also tried `./app/assets/stylesheets/**/*.scss`, but all the same 113 still come up in getPaths()

[2015-06-01 15:12] kyleknighted commented on #21
Also, nothing from the Vendors directory shows up in the listing...

[2015-06-01 15:16] abe33 commented on #21
All these patterns are relative to the project root (as with the other glob patterns in Atom settings), it uses the [minimatch module](https://github.com/isaacs/minimatch) as Atom does.

But it seems I have an issue with handling dynamic changes of the `ignoreNames` setting.

BTW, what is your version of pigments?

[2015-06-01 15:20] kyleknighted commented on #21
Ran the update this morning and using 0.4.0
![image](https://cloud.githubusercontent.com/assets/122591/7916174/c4b131d6-0847-11e5-8380-ac0193976205.png)

Do I need to restart Atom each time I change `ignoreNames`?

[2015-06-01 15:24] kyleknighted commented on #21
Okay, i got everything to ignore properly and I got the vendors path to show up in the `getPaths()` return

[code]

But, the variables still don't highlight.

![image](https://cloud.githubusercontent.com/assets/122591/7916254/53b992a6-0848-11e5-9edf-be9f2154a2e3.png)

[2015-06-01 15:45] abe33 commented on #21
Hmm, it's a bit more complicated, as pigments' paths are serialized, one way is to clear the corresponding storage file (that lives in `~/.atom/storage`) but it's quite brutal as you also lose the state of the editors (which panes, which files).

Actually I don't listen to changes of these settings (`sourceNames` and `ignoredNames`) but I should, so it's a problem on my end. I'll work on a fix asa

[2015-06-01 16:23] kyleknighted commented on #21
Once I got the ignoreName to ignore the proper files, I only have 7 color variable files showing up with getPaths()

After Clearing the project, the getPaths() no longer shows anything.

[2015-06-01 23:22] Aarilight opened #22 "Right click to change colour format"
Feature request. If you right click on a colour, it'd be cool if one of the options was to change the format of the colour, for instance from `rgb(0,0,0)` to `#000`. It'd be really handy for stuff that's much harder to calculate in your head, and nice to have to match colour formats in a document. Also, for instance, you could have something like `darken(#fff, 10%)` and you could right click to co

[2015-06-02 07:27] abe33 commented on #22
Sounds interesting, I can't give an ETA, but I'll definitely think about that.

[2015-06-02 07:51] abe33 commented on #21
With the default `sourceNames` or with your customized ones?

[2015-06-02 16:26] envygeeks opened #23 "Fix the bad UX between your need to alert and my need to not care."
I understand your need to alert, I really do... I do not however appreciate the bad alert designs.  It is not ever acceptable to take over and block a users ability to use their software in a non-critical situation and "paths size threshold exceeded" is not a critical message, it's something you could have clearly side alerted about while disabling it for the current session.  Even Atom itself sid

[2015-06-02 16:40] envygeeks commented on #21
I wanted to point out that this also happens in GTK CSS source files, it doesn't highlight variables.

[2015-06-02 19:01] abe33 commented on #23
You're completely right, it was my mistake. I hope to fix that soon by making pigments able to handle thousands of variables without requiring to parse their value every time something change (which is actually the biggest bottleneck).

I can raise the threshold to say 300 or 500 so that it won't popup unless you're in a really huge project, that would be a temporary measure until I finish working

[2015-06-02 19:04] envygeeks commented on #23
@abe33 to fix it in this particular project I ignored the folders causing the issue and sent a pull request to default ignore those folders since they are quite common since Ruby is a popular language like JavaScript (Node/io.js)

[2015-06-02 19:30] abe33 commented on #23
Yup, I saw your PR, looks good to me, I'll merge it soon. I think I'll raise the threshold too for the time being.

[2015-06-02 19:39] abe33 commented on #21
If you have the time, I'd like to have a sample that allow me reproduce this issue, I understand that you can't share your code if you're working on a private project, but without a way to reproduce your context I fear I'll struggle to understand what goes wrong in your particular case and fix it.

[2015-06-02 20:02] envygeeks commented on #21
@abe33 https://github.com/envygeeks/ubuntu-ambiance/tree/master/gtk-3.0

[2015-06-02 22:23] abe33 commented on #21
Sorry, I was referring to your initial issue with scss variables.

As for the GTK theme, this is clearly out of the scope of pigments for the moment, I focused primarily on largely used CSS pre-processors.

But the challenge maybe interesting, looks like the main place where the palette is defined is here:
https://github.com/envygeeks/ubuntu-ambiance/blob/master/gtk-3.0/settings.ini#L2

With some

[2015-06-03 07:41] v3ss0n opened #25 "Colors are rendered elsewhere too, not refreshed."
I am using pigment with https://github.com/atom/atom/commit/4941229a1b26353ea5bb5c181f219698239f5e0b

I got this problem
![pigments_problem](https://cloud.githubusercontent.com/assets/419606/7954965/5a475a32-09fa-11e5-9468-31ef1b62900c.png)

[2015-06-03 07:42] v3ss0n commented on #25
here is the source

[code]

[2015-06-03 07:43] v3ss0n commented on #22
:+1:  thats very useful , but i think it will take a bit of work to do.

[2015-06-03 07:51] abe33 commented on #25
I can confirm it on my morning build, it was not the case yesterday evening so it looks like its the new tiles in the editor that completely breaks the way the editor scroll.
I'll need to find a way to detect when tiles are used so that I make the pigments container scrolls with the tiles.

[2015-06-03 07:57] v3ss0n commented on #25
That what i am thinking too , it seems to make a texture and then scroll.

[2015-06-03 08:08] #25 closed

[2015-06-03 09:02] v3ss0n commented on #25
Thanks a lot , i think this will effect other packages too , Minimap ? Highlight Selected ? etc

[2015-06-03 09:11] abe33 commented on #25
Nothing wrong for the Minimap, it has its own way of dealing with scroll, and I haven't seen any changes for the moment. Highlight-selected is using the decoration API so it's fine too. Pigments is a bit different because I can't use the decoration API.

[2015-06-03 09:46] v3ss0n commented on #25
I c , thanks a lot for clarification :) .

[2015-06-03 15:17] v3ss0n commented on #25
I got similar problem , this time when horizontally scrolled. It belongs to same issue then.

here is the shot.
![pigments_problem](https://cloud.githubusercontent.com/assets/419606/7963693/0c1cfd36-0a3a-11e5-9fee-ff1e17b9e289.png)

source >

[code]

[2015-06-04 15:43] jcblw commented on #19
I also have this issue. I have a file that every time I start typing in the file I get to around two chars and it throws this error.

[code]

I have not seen this error before the recent updates.

[2015-06-05 15:16] jetpackjarrett commented on #21
I seem to be experiencing this as well. Direct color definitions are highlighted but the variables are not. Autcomplete also does not seem to be happening. I am using the latest of atom and your plugin. It should be noted that the palette finder was working but I removed it since it appears to be deprecated.

[2015-06-05 15:32] abe33 commented on #21
@jetpackjarrett Can you tell me what is your configuration? More specifically, what are the values for the `sourceNames` and `ignoredNames` settings? I'm trying to figure what are the conditions that would lead to this situation so I can write a test for that and make sure it gets fixed definitely.

[2015-06-06 10:19] kankaristo commented on #19
Happens for me too.

I'm opening my Atom config directory (`~/.atom/`) in Atom. I have 101 packages installed. Does it go through all of the sub-directories?

[2015-06-06 10:21] kankaristo commented on #19
Sometime earlier (a week ago, or so) I was getting some warning from `pigments` about some limit of 50 being reached (which I ignored). This was a popup from `pigments`, not Atom. I can't remember anything more specific, sorry...

[2015-06-06 22:19] mking commented on #25
I have a similar issue with pigments 0.4.5 (Atom 0.207.0, Mac OS X 10.10.3).

Before scrolling:
![beforescroll](https://cloud.githubusercontent.com/assets/489866/8021703/3d3e3462-0c5f-11e5-9850-59a237d90bd2.png)

After scrolling:
![afterscroll](https://cloud.githubusercontent.com/assets/489866/8021705/46c5ee12-0c5f-11e5-9b4f-3af6874d05ea.png)

Full source:
[code]

[2015-06-08 08:02] abe33 commented on #19
Yes, except if their names matches the patterns defined in the `ignoredNames` setting. It works like a project search, or like the file palette indexing.

Yes, it was a failed attempt to reduce the load by warning, but it was clearly suboptimal (see #23). I plan to get rid of that as soon as I have finish my work on optimizing the handling/filtering of variables.

As for the maximum stack size exc

[2015-06-08 10:25] Globegitter commented on #19
Running into this error as well no. Here is my stacktrace: https://gist.github.com/Globegitter/c739966fbdd78dc2cea2

[2015-06-08 10:47] kankaristo commented on #19
[code]

[2015-06-09 18:23] abe33 commented on #19
Thanks for the feedbacks

@kankaristo I can exclude a process issue, your limits are really high (`ulimit -u` gives me 709).

@Globegitter your stack trace tell me that it loop in the handler for `grayscale()` expressions, do you happen to use it in oneof your files? And would be kind enough to share that file with me so that I can investigate what's going on?

[2015-06-09 18:53] luisrudge commented on #19
:+1: I'm having this too

[2015-06-09 18:59] luisrudge commented on #19
I'm loading bootstrap's variables file and atom becomes unusable. It freezes every few seconds

[2015-06-09 23:41] bobrocke opened #26 "Not working in dot, underline nor outline mode?"
The only way Pigments highlights colors for me is in background mode.

Mac OS X 10.10.3 and Atom 0.208.0

[2015-06-10 07:45] abe33 commented on #26
Oh right, seems like now tiles have an opaque background, these types were placed with a negative z-index. I'll have to change that.

[2015-06-10 09:05] #26 closed

[2015-06-10 14:20] Mooreplusone opened #27 "Uncaught TypeError: Cannot read property 'color' of null"
[Enter steps to reproduce below:]

1. ... Navigated to folder and dragged the icon onto the ATOM app in dock bar
2. ... App started and error appeared.

**Atom Version**: 0.208.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.4.5

### Stack Trace

Uncaught TypeError: Cannot read property 'color' of null

[code]

### Commands

[code]

##

[2015-06-10 14:20] aaronbarker opened #28 "Way to override .gitignore file?"
It appears that when I do a "find colors" that pigment also ignores files that are included in the .gitignore file.  We have some styleguide files that declare our colors in a internal bower package and so we have those files in the .gitignore so that they don't get checked in, but we want those colors available to pigment.

I have confirmed that if I remove the folder from .gitignore that pigment

[2015-06-10 16:45] abe33 commented on #28
Thanks for the feedback, that make totally sense. I'll see how I can handle this case, maybe through a setting like `includedNames` that would override vcs ignored names and pigments own ignored names.

[2015-06-10 17:37] abe33 commented on #27
Not sure why you get that error, is it systematic when you open that project?

[2015-06-11 13:45] bclinkinbeard opened #29 "Only the background marker type is working"
If I select any other marker type I get no previews

[2015-06-11 14:36] abe33 commented on #29
Duplicates of #26, I've got the fix ready, it's just that I was waiting to have some other features ready to :ship:. But now it's okay, I still have some issues with inconsistencies in my test setup but nothing that prevent publication.

[2015-06-11 14:36] #29 closed

[2015-06-11 14:41] abe33 commented on #19
@luisrudge let me know if latest version (0.5.0) helps things for you. I've tried it on the bootstrap repo and the performance was slightly better.

However I'm still unable to reproduce the range error, I'm sorry guys but I'll really have to rely on you to help me on this. The more details the sooner I'll find the root cause.

[2015-06-11 20:30] abe33 commented on #10
I forgot to update this issue, [minimap-pigments](http://atom.io/packages/minimap-pigments) is out ;)

[2015-06-11 20:30] #10 closed

[2015-06-11 20:32] abe33 commented on #9
I've just pushed a new version that should improve drastically the overall performances and in particular the autocomplete performances, can you try it and let me know if things improved for you?

[2015-06-11 20:33] abe33 commented on #5
I'll close it know, let me know if you still have performances issues.

[2015-06-11 20:33] #5 closed

[2015-06-11 20:35] abe33 commented on #8
Do you still have this issue with the latest version?

[2015-06-11 21:07] #15 closed

[2015-06-11 21:07] #23 closed

[2015-06-11 23:27] kankaristo commented on #19
@abe33: I can't speak for the others, but 0.5.0 seems to fix this for me. Thanks! :+1:

[2015-06-11 23:44] luisrudge commented on #19
yep. Better for me too!

[2015-06-12 06:06] toastman commented on #8
Now it works fine, thanks )

[2015-06-12 07:34] abe33 commented on #8
cool :) I close the issue then

[2015-06-12 07:34] #8 closed

[2015-06-12 07:35] abe33 commented on #19
Glad to hear that, I'll keep this open open for a bit, in the case it happens again. Let me know if you get it again.

[2015-06-12 14:23] awayken opened #30 "Add support for CSS variables"
Given that technologies like [PostCSS](https://github.com/postcss/postcss) and [cssnext](http://cssnext.io/) allow us to use [CSS variables](http://www.w3.org/TR/css-variables/) in stylesheets today, it would be nice to see Atom Pigments extend support for those types of variables. Are there any plans to add support like this?

[2015-06-12 14:36] abe33 commented on #30
This is sadly not as simple as it sounds, CSS variables aren't like pre-processors variables, their value depends on the context which means one cannot evaluate the value that a variable will hold without knowing the DOM structure onto which it'll be applied.

For instance:

[code]

What is the value for `val(--color)` then?

It's `red` when `node_c` is a child of a `node_a` element and `green` wh

[2015-06-12 15:50] abe33 commented on #13
Version 0.5.0 should have addressed most of the performances issues, please let me know if things improved for you.

[2015-06-12 16:06] abe33 commented on #22
Hi, a small update post, I plan to work on that feature this weekend, and it'll be actually much simpler to implement that I thought at first, so I think I'll even make that feature available using commands so that you can also trigger the change using the keyboard.

Stay tuned

[2015-06-12 16:23] awayken commented on #30
That's a good point. At it's simplest, you could probably limit support to variables declared under `:root`. Would that be a simple enough implementation?

Truth be told, I wasn't even aware of the cascading functionality until you mentioned it. It seems like a potential minefield for parsers and authors alike.

[2015-06-12 16:47] v3ss0n commented on #22
@abe33 , You Rock!

[2015-06-13 01:24] jetpackjarrett commented on #21
@abe33 sorry for the late response,  for some reason didn't get notified about your reply. After the latest updates, colors are working except for variables defined in bower_components.

this is what atom.packages.getActivePackage('pigments').mainModule.getProject().getPaths() returns:
[code]

and my config:
[code]

I assume its because of #28?

[2015-06-13 23:52] medcat commented on #19
I got this one time, and then three more times trying to reproduce it.  I ran the command `Pigments: Find Colors`.

**Atom Version**: 0.209.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.6.0

### Stack Trace

Uncaught RangeError: Maximum call stack size exceeded

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2015-06-14 08:12] crucialfelix commented on #19
I just got it on 0.6.0

1. Just opened Atom with a small project
2. Failed to activate package

The project is small, only a few jade and markdown files open.
There are a few css files, some scss. Bourbon and Neat are in the src folder so that would make 80 total scss files.

Do you use the .gitignore or atom's ignore ?

.gitignore
[code]
those would add a lot of files

**Atom Version**: 0.209.0
*

[2015-06-14 19:13] #22 closed

[2015-06-14 21:58] #19 closed

[2015-06-14 22:05] abe33 commented on #19
Thanks to @crucialfelix I was able to find the cause of this infinite recursion. Bourbon (and probably many other) use tricks like `$border: grayscale($border)` and that was making fail the parsing of the value.

[2015-06-15 08:39] crucialfelix commented on #19
Nice one, thanks for solving it Cédric !

On Mon, Jun 15, 2015 at 12:05 AM Cédric Néhémie <notifications@github.com>
wrote:

[2015-06-15 08:43] BlaM commented on #13
It doesn't freeze anymore, but in my huge "all in one folder" creating a CSS file halted the editor for several seconds. Not sure what caused this. May be pigment, may be Atom itself or may be any other plugin.

But total result: No major problems anymore. :+1:

[2015-06-15 11:27] abe33 commented on #13
@BlaM: It'll be interesting if you can try to profile this situation, Maybe pigments is at fault. I haven't implemented a way to handle newly added files except by listening to the change of path on the buffer (which mean it only works when you create a new buffer and then save it, not when the file is created from the tree-view)

[2015-06-15 12:19] BlaM commented on #13
What I actually did was press CTRL+N to create a new file (not even saved) and then changed it to CSS (bottom right corner in Atom Window).

And just for reference: My "big" directory is a total of ~25.000 files in ~5.000 sub-folders.

[2015-06-15 15:59] nickfmc opened #31 "Color Palette Blank"
Opening up the Palette within Sass based project and color palette shows nothing at all.  used to work in previous versions. Of note the find color function works as expected.

0.7.2 - Win8.1

[2015-06-15 16:45] abe33 commented on #31
Hi @nickfmc, thanks for the report, I didn't notice an issue and all tests are still passing.

A few questions:

Do you see the palette tab but with no color or is there no palette tab at all?
In the case you see the palette tab but with nothing in it, does triggering `pigments:reload` command help?
Is there an error appearing in the console?
Do you happen to have deleted/renamed a file in your pr

[2015-06-15 16:52] abe33 commented on #13
Hmm, not sure about what could possibly go wrong. If you know how to use the chrom devtools and have some time I would like you to try profiling this situation to see where the bottleneck is.

[2015-06-15 17:10] nickfmc commented on #31
The palette is there however no colors appear. pigments:reload doesn't help. No errors in the console no.  I opened a new project and my palette DOES show, so I believe it is the renaming of files issue as I am sure I have renamed a file or two over the course of the project.

[2015-06-15 17:28] abe33 commented on #31
I think I roughly figured the problem, it's probably related to the serialized state of the project still referencing the previous paths. I'll to fix that soon, in the mean time you can probably fix this by clearing the Atom state for this project in the `~/.atom/storage` directory. I explain quickly how to do that [in the atom forum](https://discuss.atom.io/t/atom-is-loading-old-version-of-a-file

[2015-06-16 20:52] onetrev commented on #31
I have this issue too. Should I be concerned though, I cleared out my `~/atom/storage/` folder of all the editor-***** files, and still my Palette is empty on some projects.

[2015-06-17 07:16] abe33 commented on #31
Hi @onetrev, Could you tell me what your config is? Things like what values you have in `sourcesNames`, `ignoredNames` in the pigments settings, `ignoredNames` in the core settings. Also, what versions are you using (Atom, Pigments).
Also, can you tell me a bit about the kind of project where the palette is empty? Like how many files is there, are you using vendor dependencies like bootstrap & co?

[2015-06-17 20:05] onetrev commented on #31
Hello! Thanks for the quick reply.

All Pigment settings are default, so nothing has been added there. For `ignoredNames` all I havead
`*.sql`

For the projects that have empty palettes there is nothing to really differentiate them. They are start with the same base WP theme I have created that is very basic. To begin with the Palette seems to work in my base theme, but at some point sometimes it

[2015-06-18 01:57] tsl0922 opened #32 "Uncaught TypeError: Cannot read property 'colorMarkerForMouseEvent' of undefined"
[Enter steps to reproduce below:]

1. goto any package's settings page
2. right click on any text input

**Atom Version**: 0.210.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.7.2

### Stack Trace

Uncaught TypeError: Cannot read property 'colorMarkerForMouseEvent' of undefined

[code]

### Commands

[code]

### Config

[code]

### In

[2015-06-18 06:41] stevemao opened #33 "I can somehow see two layers of the highlighted text"
![screen shot 2015-06-18 at 4 39 04 pm](https://cloud.githubusercontent.com/assets/6316590/8225484/a9a96784-15d8-11e5-9efe-5a428fa69988.png)

The overlapped highlight is a bit high for some reason so you can see the original text below it.

[2015-06-18 07:35] abe33 commented on #32
Thanks for the report :bow:, I should have anticipated this case, I'll patch this soon.

[2015-06-18 07:37] abe33 commented on #33
Thanks for the report, a patch will come today with a fix for that.

[2015-06-18 07:40] #32 closed

[2015-06-18 07:40] #33 closed

[2015-06-18 07:44] abe33 commented on #31
I'm really not sure about what could go wrong, I added a `catch` trap to the `show palette` promise in v0.7.3 that will log the error in the console. Let me know if there's an error when opening the palette.

[2015-06-18 15:31] philippbecker opened #34 "Failed to activate: Cannot read property 'querySelector' of null"
I can not enable the *pigments* package because of two errors which probably hang together.
Listed below are the two error reports that appeared to me in the last 10 days continuously.
But what really surprised me was the following notification: *The issue is already solved in #17.*

[Steps to reproduce:]

* Open editor **error 1**
* Open project folder **error 2**

**Atom Version**: 0.208.0 - 0.2

[2015-06-18 15:51] matthewfarlymn opened #35 "Color dot & dot-square not vertically aligning with line-height and font-size"
![screen shot 2015-06-18 at 11 50 24 am](https://cloud.githubusercontent.com/assets/5617870/8235486/469431ec-15b0-11e5-8642-530337a08502.png)

[2015-06-18 15:54] onetrev commented on #31
Well in good news, for me at least, the projects that had blank palettes are now working again. Not sure if it was the Atom 0.210 update or what, but it's working in all projects. If I notice any issue though for sure will check out console, thanks!

[2015-06-18 18:28] nickfmc commented on #31
Update Works For me! Thanks.

[2015-06-18 18:28] #31 closed

[2015-06-18 21:04] abe33 commented on #34
My bad, I guess you have the `Shadow DOM` setting disabled, I forgot to check for that when attaching the markers container. I'll push a patch tonight.

[2015-06-18 21:53] abe33 commented on #31
Glad to hear that, let me know if you still get problems.

[2015-06-18 22:04] #34 closed

[2015-06-18 22:04] #35 closed

[2015-06-18 22:08] abe33 commented on #35
The positioning issue is fixed but I still haven't found a good solution to detect the setting changes to update the markers, in the config change callback the editor's line height is still the previous one, and all the measuring happens in the react component and the presenter, but there's no event I can use without killing the performance here.

[2015-06-19 04:32] stevemao commented on #33
Thanks for fixing it so quickly :D

[2015-06-19 13:16] philippbecker commented on #34
@abe33 Some time ago I have disabled the shadow DOM due to font rendering issues, but **I forgot** to review the option in regard to the upcoming *Atom 1.0 release*.

Nevertheless, many thanks for the quick fix and keep up the good work!
*Pigments* is simply awesome :smile:

[2015-06-19 14:07] matthewfarlymn commented on #35
Excellent, looks great!

[2015-06-19 14:08] awayken opened #36 "Add support for 4 and 8 digit hex colors"
Future specs of CSS include 4 and 8 digit hexadecimal colors where the final value is an alpha channel. The CSS Color Module 4 has more information: http://dev.w3.org/csswg/css-color/#hex-notation

For instance, `#0000ffcc` and `#00fc` would be equivalent to `rgba(0, 0, 100%, 80%)`.

[2015-06-19 14:24] abe33 commented on #36
Oh cool, I didn't know it was in the csswg pipe. It'll be really easy to add so an update should land soon.

[2015-06-19 14:32] awayken opened #37 "Add support for `rebeccapurple`"
An update to the CSS Color Module 4 includes a new named color called `rebeccapurple` that equals `#663399`: http://dev.w3.org/csswg/css-color/#valdef-color-rebeccapurple

I'm working on a pull request to add this since it seems like a simple enough update.

[2015-06-19 14:55] #37 closed

[2015-06-19 16:12] #36 closed

[2015-06-22 18:58] seaside98 commented on #8
@abe33 It just did this to me, same steps. It hasn't ever done it when I've viewed Find Colors before, but it just started.

**Atom Version**: 0.210.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.8.0

### Stack Trace

Uncaught TypeError: Cannot read property '1' of undefined

[code]

### Commands

[code]

### Config

[code]

### Insta

[2015-06-23 10:09] marvinosswald commented on #9
Having performance Issues too but it doesn't feel connected to autocomplete-plus my typing just has a small but annoying delay ...

[2015-06-23 10:42] madrussa opened #39 "Pigments incorrectly highlights numeric XML entities in XML and HTML."
Pigments is highlighting XML entities in XML and HTML files:
[code]
the #160 part is being coloured green, when this isn't a colour definition.

Solution, don't highlight #[0-9] values proceeding with a & and ending in ;
Might be worth also checking for &amp;amp;#160; when the entities are encoded.

[2015-06-24 02:40] unluisco opened #40 "It is not a color that I have established"
I have written the html ref for a dash, but the package as it takes me a color

![index html - users unluisco dropbox diseno y desarrollo personal 2 0 - atom 2015-06-23 21-33-31](https://cloud.githubusercontent.com/assets/6332263/8321753/75670776-19f0-11e5-9d65-83b92290a241.png)

[2015-06-24 05:29] tsl0922 opened #41 "Incorrect highlight for ruby hash"
![image](https://cloud.githubusercontent.com/assets/1680515/8323273/a4993dfa-1a74-11e5-88b6-aa0b58d83782.png)

There is no color here, but it is highlighted.

[2015-06-25 21:33] civilframe opened #42 "Failed to load the pigments package"
Steps to reproduce:
1. Went to Settings -> Install
2. Searched for pigments
3. Clicked Install

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.8.0
### Stack Trace

Failed to load the pigments package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-06-25 23:00] TristanBrotherton opened #43 "pigments causes atom to stop responding"
With atom 1.0 and pigments installed the editor will stop responding after about 7 seconds. It is initially showing color previews as expected.
What can i do to provide you with more useful information?

[2015-06-26 02:21] maxguzenski opened #44 "Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null"
Steps to reproduce below:

1. Just make a right click on any file

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.4
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.8.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-26 20:05] dapearce opened #45 "Sometimes Less variables w/ comments are showing double (& different) color swatches"
![screen shot 2015-06-26 at 4 04 23 pm](https://cloud.githubusercontent.com/assets/1824987/8386303/3963ec10-1c1d-11e5-9a2d-4f11dba0bfac.png)

[2015-06-26 20:18] abe33 commented on #45
Hmm, actually it's because there is the words `Blue`, `Red`, `Yellow`, etc. in the comments, you can ignore colors in comments by setting `\.comment` in the `Ignored Scopes` setting of pigments.

[2015-06-26 20:18] #45 closed

[2015-06-26 20:27] abe33 commented on #40
Yes, it's a duplicate of #39, i still need to figure how to workaround that.

[2015-06-26 20:27] #40 closed

[2015-06-26 20:31] abe33 commented on #41
Thanks for the report, It's mostly the same problem as in #39. Lookbehind captures not being available in JS make this kind of thing really hard to not catch with basic regexp.

[2015-06-26 20:31] #41 closed

[2015-06-26 20:32] abe33 commented on #39
Yes, this is a real problem with javascipt regular expression. The lack of lookbehind captures makes it almost impossible to match something except when preceded by some expression. I somehow found a way to deal with that kind of things when searching variables names, I'll have to update the other color expressions to fix that.

Stay tuned.

[2015-06-26 20:35] abe33 commented on #43
Hmm, maybe you can start by telling me about the conditions in which it occurs?
Like, is it systematic?
Does it occurs only for some projects? If it's only on some projects, how big are these projects?
Is there a lot of directories and files?

[2015-06-26 20:36] abe33 commented on #42
Not sure about that, looks like some dependencies couldn't be installed, can you check if the `color` modules have been installed in the `node_modules` directory of pigments package? (you can find it in your home `.atom/packages` directory)

[2015-06-26 20:39] TristanBrotherton commented on #43
Hi Cedric,

This is a sizeable project, we have 658 less files, but a considerable amount of those should be excluded as per the settings in pigments.

If I start Atom without this project, pigments will run.

What is odd is pigments seems to run fine for 7(ish) seconds and then Atom will become un-responsive. Disabling pigments resolves the issue.

Thanks, Tristan

[2015-06-26 20:57] abe33 commented on #43
Thanks for the quick reply, maybe there's a problem at some point when scanning the files content, I'm at codeconf actually, so I'll try to make a biggest reply later with instructions so that we can narrow down the issue.

[2015-06-26 20:58] TristanBrotherton commented on #43
Thanks! Your work with this is very much appreciated. There is no other LESS color parser!

[2015-06-27 09:38] Remember2015 commented on #44
the same exception in Atom 1.0 / Windows 8

[2015-06-27 16:20] abe33 commented on #44
Thanks for the report, it's my fault for assuming that everyone use the shadow DOM, a patch will come soon.

[2015-06-27 16:24] #39 closed

[2015-06-28 14:22] PavSidhu opened #46 "Uncaught TypeError: Cannot read property 'getTokenIterator' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.8.1

### Stack Trace

Uncaught TypeError: Cannot read property 'getTokenIterator' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-29 21:20] abe33 commented on #46
Thanks for report, look like I overlooked some use cases.
Can you give me some details about the context in which this error occured? What kind of file were you working on? Did it occured on a specific action?

[2015-06-30 08:28] oskarkrawczyk commented on #27
I can confirm this error:

Stack trace:

[code]

**Atom Version**: 1.0.1-77d7e7a (1.0.1-77d7e7a)
**System**: Mac OS X 10.10.4
**Thrown From**: pigments, v0.8.1

[2015-06-30 13:30] walles commented on #27
@abe33, what have you managed to learn from the stack trace attached to this ticket?

  Regards /Johan

[2015-06-30 13:36] abe33 commented on #27
Not so much actually, I lack some reproduction steps to fully understand the root cause of this problem. I can patch the renderer to make sure to never access an undefined color though and remove the symptoms.
But if somebody can isolate the conditions that trigger that bug I could fix the cause and not just the symptom.

[2015-06-30 14:11] #27 closed

[2015-06-30 14:11] #46 closed

[2015-06-30 14:13] abe33 commented on #46
I've put some warning messages and I trap the error when it occurs. If you see these warning, could you please look at the grammar used in the editor (I log it with the warning).

[2015-06-30 14:15] abe33 commented on #27
I've put some warning in the situation that was previously failing instead of letting the error uncatched, I'll be interested to see what appears in the logs if you encounter it again.

[2015-06-30 18:11] TristanBrotherton commented on #43
@abe33 I was able to resolve this issue.
In our project we had LESS files that had non LESS logic in them to insert dynamic variables from our DB. Pigments was attempting to parse these and failing. Adding the files to the ignored glob, resolved the issue.

If you'd like further details on the structure that was causing it to hang, just let me know.

[2015-06-30 19:20] abe33 commented on #43
Oh great! Yes, I'm interested in the structure, if I can fix the scanning issue it's even better, isn't it?

[2015-06-30 21:28] TristanBrotherton commented on #43
Here is an example of our marked up LESS file that runs through a Django processor before being used. It will cause Pigments to barf. In an ideal world pigments would just ignore it.

[code]

[2015-06-30 21:31] guscastaneda opened #47 "Uncaught TypeError: Cannot read property 'path' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.8.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-01 12:28] abe33 commented on #47
Thanks for the report, can you give me some details about what you were working on when it occured? Based on the report commands it looks like you edited a file, is that right?

[2015-07-01 12:29] abe33 commented on #43
Thank you @TristanBrotherton, I'll add a test for that case as well.

[2015-07-01 17:19] cjwelborn opened #48 "TypeError: Cannot read property 'name' of undefined"
It bubbles up here:
[code]

I traced it to `lib/variables-collection.coffee:348`:
[code]

I've never used coffeescript, so I'm having to translate this to javascript doing the best I can to track down the original cause. I tried the naive thing and added this:
[code]

..but that was just a shot in the dark from a coffeescript/atom newb. It didn't help. To be honest I don't know  how or when this c

[2015-07-02 07:40] abe33 commented on #48
Thanks for the report, I think the main issue here is that we should never get a `null` or `undefined` value in the `variables` array. I'll put a guard for now and publish a patch today.

[2015-07-07 13:52] #47 closed

[2015-07-07 13:52] #48 closed

[2015-07-09 15:23] dawidk92 opened #49 "Pigments returns wrong color highlight output from function"
I'm using shade function to mix color with black:
[code]

Here's the result:
![zrzut ekranu 2015-07-09 o 17 22 56](https://cloud.githubusercontent.com/assets/7023167/8599156/2dacf262-265f-11e5-9944-74c0c6b5576d.png)

It highlights it as black but in fact it's only a little more darken than $color-primary and it's value is equal to #1DBC91

[2015-07-09 20:29] evanwarner opened #50 "No results in palette"
I'm having the same issue as in the closed issue #31. To test, I created a brand new folder with two files in it, one .css and one .scss. They each just have one rule with a few color declarations. Find Colors works perfectly, but Show Palette just gives an empty palette tab.

There are no errors reported in the console.
Inspecting the tab's DOM shows that there are no elements at all:
`<div class

[2015-07-09 22:02] abe33 commented on #49
Hmm, looks like I forgot to handle percentages without the `%` at the end, I'll try to fix that soon. Thanks for the report!

[2015-07-09 22:08] abe33 commented on #50
Oh, I think it may be because I don't watch for new files. Actually I haven't found a good way to detect when a file is created except by watching every directories in the project, You should be able to populate the palette with the `pigments:reload` command. I'll think again about this issue and see if watchers aren't too heavy for that.

[2015-07-09 22:42] #49 closed

[2015-07-10 09:37] dawidk92 commented on #49
I dont know if it should work right now but I updated plugin to v0.8.4 and I have the same problem. It also doesnt work with '%':
![zrzut ekranu 2015-07-10 o 11 35 31](https://cloud.githubusercontent.com/assets/7023167/8615991/dc564172-26f7-11e5-8093-47d9640349af.png)

[2015-07-10 10:06] abe33 commented on #49
AFAIK there's no default implementation of `shade` and `tint` in sass, the implementation is either a custom one or the one from compass.
However, Stylus does have `shade` and `tint` functions out of the box, so my implementation is based on the Stylus one (I try to support every major preprocessor features, but I can't support every functions defined in every libs built upon them).
The thing is t

[2015-07-10 11:03] AlexTuduran opened #51 "Pigments don't update their geometry when font-related attributes change"
When changing the font family, font size, font height or any other attribute that causes the characters to shift, the pigments overlay do not update their position and size.

[2015-07-10 11:48] abe33 commented on #51
Hmm, that's actually not true for font size and line height when modified from the settings, but it's true I don't listen to stylesheets changes. It shouldn't be too hard to fix.

[2015-07-10 16:31] evanwarner commented on #50
Nope, `pigments:reload` doesn't help. Just updated to v0.8.4 also.

[2015-07-10 17:52] PHELiOX opened #52 "Pigments doesn't show color in autocomplete."
Atom version 1.0.2

[2015-07-10 19:25] AlexTuduran commented on #51
Actually I remember I've tested changing font attributes from settings as well just to check if there's a different behavior, but it seems I get the same results. The only way to heal it is to edit the line containing the color declaration, only then the pigments relocate.

[2015-07-14 06:27] dkarter opened #53 "pigments color boxes are out of sync when scrolling"
Tried this on a new instance of atom with not many packages installed other than some basic ones.
Here's what happens when I try to edit the default atom less file and scroll it:
![scrolling bug](http://g.recordit.co/7WwQO72tWi.gif)

[2015-07-14 10:12] abe33 commented on #53
Hi @dkarter, can you tell me the version of Atom and pigments you're using?
I can't reproduce that in Atom 1.0.2 with pigments 0.8.4.
Also, if you could inspect the `pigments-markers` element that is appended in the `.lines` div of the text editor. This is the node that is supposed to be translated during the scroll, as you can see below, when scrolled it should get a `translate3d` transform in it

[2015-07-14 10:14] abe33 commented on #52
Can you give me more information?
You bet that is part of the basic feature set that is tested and that I also use everyday, so without more details I can't do anything.

[2015-07-14 10:21] abe33 commented on #51
Are you sure about changing the settings not affecting the markers?

Because as far as I can tell it works, and there's even tests for that:

![pigments-resize](https://cloud.githubusercontent.com/assets/247140/8671106/aa841a10-2a22-11e5-87e7-10ac01e67e4d.gif)

The tests:
https://github.com/abe33/atom-pigments/blob/master/spec/color-buffer-element-spec.coffee#L254-L270

[2015-07-14 10:31] abe33 commented on #50
And even after a restart of Atom it still don't find the files and the colors that are in it? There's no errors either?
Also, are you actually adding a variable in the scss file? Because the palette only displays the variables defined in a project, not the colors used in the project (I can probably improve that though).

[2015-07-14 11:02] abe33 commented on #43
Hi @TristanBrotherton, I tried the snippet you provided me and I fail reproducing the freeze. Was there something beyond the fact of using injected variables?

[2015-07-14 11:24] PHELiOX commented on #52
An example here.
<img width="400" alt="2015-07-14 19 22 14" src="https://cloud.githubusercontent.com/assets/1183568/8672116/bfa56f3a-2a5d-11e5-967d-1b794c261dfb.png">

No color in autocomplete dropdown and no color on variables, colors only displayed on raw values.
No error or exceptions either.

[2015-07-14 14:41] AlexTuduran commented on #51
I've checked this usecase specifically then and the problem existed, but now it seems the pigments update when changing font attributes from settings, so it seems you're right on this one, my apologies.

[2015-07-14 16:38] TristanBrotherton commented on #43
@abe33 I sent you an email.

[2015-07-14 19:38] dkarter commented on #53
Tried it on another machine and getting the same issue. Fresh install of Atom 1.0.2 Pigments 0.8.4 on both machines. To reproduce just open the Atom style sheet (can be reached from Ctrl-Shift-P -> open my stylesheet).
![with dev tools](http://g.recordit.co/mgJ5QoT7Ot.gif)
I think it has to do with the scroll area being too small because the issue does not happen if the dev tools window is attache

[2015-07-15 07:31] abe33 commented on #43
Ok thanks! I'll take a look asap

[2015-07-15 07:34] abe33 commented on #51
No pb, there's always some cases I didn't foresee that may not work, but if I've written tests for a given use case I'm generally pretty confident about them working properly. To being cautious I'll also add a listener to the stylesheets changes events in the next release.

[2015-07-15 07:37] abe33 commented on #53
Hmm, that's weird, it looks like the scroll event is not received by the view. But its style attr has a `translate` transform so that would mean that it did receive some. Maybe there's some difference between our two configurations. If you can give me some details about that, do you use `scroll past end`, `soft wrap`, etc... The more I know the better.

[2015-07-15 07:55] abe33 commented on #52
And it still gives you no results when you prefix with `@`?

[2015-07-15 08:00] PHELiOX commented on #52
<img width="398" alt="2015-07-15 15 58 08" src="https://cloud.githubusercontent.com/assets/1183568/8693531/5ed02094-2b0a-11e5-83e0-2958ea633a4e.png">

Ah.. yes. My bad, I should start with `@`.

[2015-07-15 09:30] abe33 commented on #52
Does the palette displayed when running `Pigments: Show Palette` command is empty?

[2015-07-15 09:39] PHELiOX commented on #52
Yes, no palette displayed when execute `show palette`, `find colors` and `reload`

[2015-07-15 11:00] abe33 commented on #52
What gives the following in the devtools console:

[code]

I guess the variables array will be empty (that's why you don't see anything in the palette or in autocomplete). But if the paths are also empty, then there's probably something with the paths settings configuration (either `sourceNames` or `ignoredNames` has a value that makes the paths ignored).

[2015-07-15 13:44] evanwarner commented on #50
Oh! I didn't realize palette only picked up variables. It's working fine then, I just added a variable to my test file and it shows up. I think it would be great if palette picked up all color declarations then, not just variables. (And if you don't change that, maybe update the README to clarify what palette does.)

[2015-07-15 13:59] abe33 commented on #50
Yep, I think so too, it doesn't make sense from a user POV to separate things like that, but that will change a bit the way I'll populate the palette. In fact it'll be pretty much what the find colors command does. I would like to keep the ability to have only the variables in the palette, but I'll probably have to define a new setting for that.

[2015-07-15 16:37] PHELiOX commented on #52
You are right about these variables, they are empty. But my Atom settings are just as downloaded with some plugins. The ignored names are also defaults.

<img width="535" alt="2015-07-16 00 31 39" src="https://cloud.githubusercontent.com/assets/1183568/8703853/15600ea4-2b52-11e5-8d9b-2406567341e8.png">

[2015-07-15 16:42] dkarter commented on #53
Here's my atom config.cson, nothing special here:
[code]
The problem seem to go away if I enable scroll past end:
![solution](http://g.recordit.co/ACrfC3Tkbi.gif)

[2015-07-15 23:17] abe33 commented on #52
And do you see your source files in the array returned by `project.getPaths()` in the above sample?

[2015-07-15 23:20] abe33 commented on #53
Hmmm, interersting, looks like with `scroll past end` disabled the chrome inertia scroll effect still apply but doesn't trigger a scroll event I can catch. I'll have to take a look at that.

[2015-07-16 05:31] PHELiOX commented on #52
Nothing returned by `project.getPath()` either, it's empty.

[2015-07-16 07:43] abe33 commented on #52
So there's something with your pigments configuration, can you share with me the content of the `config.cson`?

[2015-07-16 07:51] PHELiOX commented on #52
Well I took a look at the config file but found nothing unusual.
[code]

[2015-07-16 10:35] abe33 commented on #52
Hmm, I'm a bit at loss here, you're using the default configuration, so its either because the files that contains these variables are ignored (which should not occurs given your config) or because they're not part of the project. Can you tell me a bit about the project structure and the naming convention used for these files, maybe I overlooked something in my way of scanning files.

BTW what's y

[2015-07-16 10:42] abe33 commented on #53
It looks like there's something wrong with the styles of your editors, I've tried again by disabling scroll past end, but I can't scroll a buffer that doesn't spread outside the editor. Do you get the same behaviour with `atom --safe`? (I mean being able to scroll an editor that is not supposed to scroll)
Maybe there's another package that conflict here.

[2015-07-16 10:48] PHELiOX commented on #52
Oh, you mentioned the project structure, does Pigments search the project folder as .gitignore does? I'm working on a part of a coffee-react project, which folder maybe included in the .gitignore file.

[2015-07-16 12:10] abe33 commented on #52
Yes, if you have the `core.excludeVcsIgnoredPaths` setting enabled (which is the default), it will ignores everything that is listed in the .gitignore file.
The paths loader is basically the same than when you use the project-wide search, but I'm starting wondering if this really make sense for pigments.
I also noticed that I don't handle multiple root folders properly. I'll have to work on that.

[2015-07-16 13:10] PHELiOX commented on #52
After reopen the files in a separate project folder, pigments works fine.
Perhaps pigments should load all paths when assigned to a project, load current folder when loose files. But save the variables separately for main project and subproject.
Thanks for the patience!

[2015-07-16 13:46] PCateNumbersUSA commented on #53
I'm having the same problem and the the colors immediately get out of sync when I change focus to a different pane. I'm using the plugin pane-layout-plus: https://atom.io/packages/pane-layout-plus

[2015-07-16 17:12] AlexTuduran commented on #51
Sounds great! Really useful package btw!

[2015-07-17 00:17] #51 closed

[2015-07-18 11:11] saschalalala opened #54 "Not installable at the moment?"
Hi, I am running Atom 1.0.2 and tried to install that package via settings and via apm, settings don't find it, apm says:

Request for package information failed: Application error

[2015-07-20 13:11] diegolhambi opened #55 "Soft wrap"
When the soft wrap is activated and automatically atom creates a new line, the colors are staying in the old line.

![new line bug](https://cloud.githubusercontent.com/assets/10106329/8776452/a6ff0590-2ec7-11e5-8c91-6940cd076bb6.png)

[2015-07-20 15:04] Gurylev opened #56 "Local scope in less"
In less does not work [variables scoping](http://lesscss.org/features/#features-overview-feature-scope)
![Scoping variables]
(http://grlv.ru/i/6z10x.png)

// sorry, i dont speak english

[2015-07-20 15:36] abe33 commented on #55
Hi, thanks for report, seems like I missed this case, I'll fix that asap.

[2015-07-20 15:42] abe33 commented on #56
As it's not a less parser it doesn't have any knowledge of how to handle scopes, imports, branches, etc. To solve this kind of problem it needs to be aware of the build process and the dependencies, which is clearly out of the scope of this package for the moment.
Not sure I'll be able to fix that one day without having to load every preprocessors outthere and requiring every project to setup pigm

[2015-07-20 20:53] juliancoleman commented on #54
Leaves a pretty nasty hang as well. I've had to disable it for now, but this looks like an amazing package.

[2015-07-21 08:02] abe33 commented on #54
This is likely an issue with `apm` itself, the `Application Error` looks like the Heroku's standard failure page. Pigments is using nothing fancy, no native module that need to be compiled so I don't see why the install would fail for any other reason than a server issue when downloading the package's asar file. Let me know if you still have this error.

[2015-07-21 08:19] juliancoleman commented on #54
Looks like my issue suddenly resolved itself. As you were saying, it was likely an issue with `apm`. Atom did hang for a minute, but it didn't subsequently crash and fail to re-open this time. Looking forward to using this. I've really been needing something like this since switching over from Sublime.

[2015-07-21 17:59] #55 closed

[2015-07-21 18:01] abe33 commented on #53
@PCateNumbersUSA thanks for the info, I'll try to see if there's a conflict with this package.

[2015-07-21 20:38] bronson opened #57 "Disable by filetype or regex?"
As interesting as it is to give each pull request its own color, I find it rather distracting.  :)

<img width="955" alt="screen shot 2015-07-21 at 1 35 32 pm" src="https://cloud.githubusercontent.com/assets/1776/8811841/70f22fd6-2fad-11e5-9595-dcb55d833d5c.png">

Ideally I'd like to disable pigments unless the hex value is surrounded by whitespace (and maybe a leading colon is ok).

Or, maybe I c

[2015-07-21 22:26] abe33 commented on #57
Hi @bronson, you can already excludes markers with the `Ignored Scopes` setting, it takes an array of regex to match agaisnt the scope string of the marker (actually the scope at the first position of the marker).
For example I use the following value to ignore colors in comments, markdown files and scss strings:

[code]

To restrict colors to only css and less files you can try something like tha

[2015-07-22 07:56] abe33 commented on #7
I'll close it as nobody as updated this for months.

[2015-07-22 07:56] #7 closed

[2015-07-22 07:58] abe33 commented on #54
Ok thanks for the feedback, I close this issue then.

[2015-07-22 07:58] #54 closed

[2015-07-22 08:04] abe33 commented on #9
I believe the latest version should have improved that greatly, I'll close the issue, feel free to open a new one if you still have performance issues.

[2015-07-22 08:04] #9 closed

[2015-07-22 08:04] #13 closed

[2015-07-22 08:08] abe33 commented on #21
@jetpackjarrett That's my turn to miss the notification (by quite the margin). Yes I think it's related if your `bower_components` is listed in .gitignore. Pigments, as of version 0.9.0, has its own setting to ignore VCS ignored paths or not. I still have to work on this forced inclusion setting.

[2015-07-22 09:01] chriskennewick opened #58 "Pigments freezing atom"
When opening a large, minified (one-line) css file, Pigments is causing atom to become unresponsive for a long period of time. The freeze appears to be a longer for larger files. I am able to produce this when opening bootstrap.min.css

Atom - 1.0.2
Pigments - 0.9.0

[2015-07-22 12:13] saschalalala commented on #54
Just for your information, I could install it now, too and it works fine. Thanks.

[2015-07-22 13:50] abe33 commented on #58
Hi, thanks for the report, it seems it has to do with the scopes evaluation to determine if a color should be displayed or not, at least that's what I found with the profiler, I have an idea to improve that, I'll try it as soon as I can find some time.

[2015-07-23 22:17] chrisdrackett opened #59 "overridden variables"
I have some sass color variables in my project that have defaults defined in one file and then are overridden in another file. I feel like this used to work, but recently I'm seeing previews for the default value and not the actual value. How does this plugin decide which variable is the correct one?

[2015-07-23 22:21] chrisdrackett commented on #59
here is another strange thing I just noticed, in the dropdown for autocomplete while I type the color variable name the correct color is shown.

![before](https://s3.amazonaws.com/f.cl.ly/items/3o0b2p3R0B2O3F1f1W2P/Screen%20Shot%202015-07-23%20at%203.20.45%20PM.png)

![after](https://s3.amazonaws.com/f.cl.ly/items/3X1Y1j1B1G1U2Q2g2O0W/Screen%20Shot%202015-07-23%20at%203.20.34%20PM.png)

[2015-07-24 08:02] abe33 commented on #59
Hi @chrisdrackett, Yes this is something I still have to tackle, actually I parse and store every versions (in your case the blue and the green) but I still haven't implemented a specific sorting so it mostly depends on the file order, ideally I would it to always use the variables from the current file at the end so that it's always the version of the file that is displayed, but it's a quite impo

[2015-07-24 13:26] kyleknighted opened #60 "Can't copy text from Palette"
When I open the palette it shows all of the colors with their variables, but I'm not able to copy the variable after highlighting it.

OSX 10.10.4
Atom 1.0.2
Pigments 0.9.0

[2015-07-24 16:25] chrisdrackett commented on #59
well, in my case both variables are in external files to the one I'm working on, so it really comes down to the order they are imported in. I know this is potentially not easy without actually parsing the sass files, just figured it was worth bringing up! Keep up the good work, this plugin is awesome!

[2015-07-24 22:52] despairblue opened #61 "helper process with 100% cpu when specific construct in file"
Just to be sure I started with a completely fresh `.atom` folder and only installed `pigments`.

Repro Steps:

1. open a new file
2. enter: `difference(a,)()` into it, or anything that contains that sequence
3. save it and find that in your process list:
[code]

The process gets killed when it allocates to much memory:
[code]

The annoying part is that the process is restarted whenever the file is

[2015-07-24 23:30] despairblue commented on #61
https://github.com/abe33/atom-pigments/blob/master/lib/utils.coffee#L71 is called with `a,)(`, so the while loop keeps going for ever since https://github.com/abe33/atom-pigments/blob/master/lib/utils.coffee#L57 will always return zero, there is no closing parentheses.

[2015-07-24 23:49] despairblue commented on #61
Moving the last paranthesis into the group for all blend mode regexes fixes this, though I just couldn't figure out how theses regexes are created, I got lost [there](https://github.com/abe33/atom-pigments/blob/39fed4bbdd50a4ad6e3e7278f822c5dcef31f6a0/lib/color-expressions.coffee)

`/^difference\(\s*([^"'\n]+\s*,\s*[^"'\n]+)\s*\)$/` :arrow_right:
`/^difference\(\s*([^"'\n]+\s*,\s*[^"'\n\)]+)\s*$/`

[2015-07-25 00:17] despairblue commented on #61
ok, got it. I made a PR

[2015-07-27 08:32] abe33 commented on #61
Hi @despairblue, thanks for having a look at that, I think the main issue is with `findClosingIndex`, I'll try to find a proper fix for this case with a test that don't crash the runner.

[2015-07-27 08:56] despairblue commented on #61
:+1:

[2015-07-27 11:15] abe33 commented on #60
Thanks for the report, I failed to add the `native-key-bindings` class needed to allow copy paste, it'll be fixed soon.

[2015-07-27 11:22] #60 closed

[2015-07-27 11:22] #61 closed

[2015-07-27 19:09] abe33 commented on #56
Oups, bad issue reference, and it looks like github didn't catched up with the last rebase.

[2015-07-27 19:11] #58 closed

[2015-07-27 19:18] abe33 commented on #58
Colors should now take longer to appear but without locking the UI until then.

[2015-07-28 05:00] likidu opened #63 "Uncaught Error: This TextEditor has been destroyed"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.4
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.9.2

### Stack Trace

Uncaught Error: This TextEditor has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-28 07:21] saarthaksharma opened #64 "It will show color if the class name is a color name."
like in this image you can see it is showing green color even when its a class name
![screen shot 2015-07-28 at 12 45 45 pm](https://cloud.githubusercontent.com/assets/3650216/8925671/3e6783f2-3527-11e5-8f83-73d78766d8c0.png)

[2015-07-31 15:08] ivomarsan commented on #63
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Ubuntu 14.04.2
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.9.2

### Stack Trace

Uncaught Error: This TextEditor has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-31 15:21] abe33 commented on #63
Can any of you give me a bit of context about this error? Like what action were you doing when the error occured?

[2015-07-31 15:55] ricardograca commented on #63
I was looking at a file that contained a very long line when the error occurred when closing the file. In this case it was a minified version of bootstrap.css version 2.3.2.

[2015-07-31 16:32] ivomarsan commented on #63
I opened a css file and closed when the error occurred. But I could work quietly after

[2015-08-02 11:47] #63 closed

[2015-08-02 13:56] eboracus opened #65 "Pigments disappear under cursor"
Pigments currently disappear when the cursor is on them. Would it be better if they only disappeared/changed when the value is altered?

![pigments_vanish_on_cursor](https://cloud.githubusercontent.com/assets/11758299/9026361/91234490-3924-11e5-92e5-cc8aeba82223.gif)

[2015-08-02 14:04] eboracus commented on #56
Would it be feasible to instead just log where the pigments are applied and take the term before any ":" or "=" etc... and apply the pigment to that variable automatically. So on applying green above to #669b41 it sees the ":" and applies the same to @button-color directly.

[2015-08-03 08:04] abe33 commented on #65
I made it that way because as these are not native decorations they're displayed above the text editor's content, which hides the cursor when it's positioned in the marker.
Also, the way markers works they'll be destroyed as soon as you touch their content.
What I can do, though, is to append a class to the marker view instead modifying its display property. That way you can override this behavior

[2015-08-04 19:18] diegognt opened #66 "Failed to activate the minimap package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.3
**System**: Mac OS X 10.10.4
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.9.3

### Stack Trace

Failed to activate the minimap package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-05 07:46] abe33 commented on #66
Looks like a error that occurred on a package update, can you confirm?

[2015-08-05 11:00] cyanpunk commented on #66
Confirmed, just caught this aswell after the update.

[2015-08-05 14:17] abe33 commented on #66
Ok I think I understand what happened, the patch will come soon (but won't get much opportunities to see the difference until I push a new minimap update).

[2015-08-05 14:37] sbussard commented on #6
Could you push the change to Atom's repository? I'm getting this issue and atom says I have the latest version (0.9.3)

[2015-08-05 14:42] #66 closed

[2015-08-05 14:54] abe33 commented on #6
@sbussard Can you tell me more about the context in which this error occurred?

[2015-08-05 18:17] esiao commented on #30
Updating this as I started using PostCSS too. With the module [PreCSS](https://github.com/jonathantneal/precss) you can use Sass syntax. Would be nice to have CSS support for Pigments for this case since it's replicating what is done with Sass files.

[2015-08-06 03:31] zyklus opened #67 "Please consider a way to disable colors based on expression type"
I often look at log files (with no extension, so I can't really filter on scope) that have memory addresses and my files look... odd to say the least ;)

![image](https://cloud.githubusercontent.com/assets/320562/9103238/7021af7c-3c2e-11e5-8b4a-150db36e9efb.png)

I personally don't see the point in parsing 6 or 8 digit hex numbers, though I'm sure _someone_ does, so can I suggest an option to disa

[2015-08-06 07:45] abe33 commented on #67
Have you tried using the `text plain` or `null-grammar` scope to match these files? It should work for every files that doesn't have an extension supported by a grammar.
You could use the following expression in the `Ignored Scopes` to match it: `\.text\.plain\.null-grammar`.

[2015-08-06 07:55] abe33 commented on #30
@esiao It's clearly more in the scope of what pigments can do. Actually the only thing that should not work with PreCSS files is the project-wide palette, as it currently excludes `*.css` files, but the change should not be too complicated so I'll give it a try soon.

[2015-08-06 07:58] esiao commented on #30
@abe33 Thanks that would help a lot actually.

[2015-08-06 12:41] abe33 commented on #30
BTW @esiao, have you tried to add `**/*.css` in the `Source Names` setting? It should works out of the box without needing a patch.

[2015-08-06 12:42] abe33 commented on #64
Sorry for the late replay, have you try to add the corresponding scope in the `Ignored Scopes` setting?

[2015-08-06 12:55] esiao commented on #30
No I hadn't the curiosity to check if it was possible in the settings.
I actually had to quit and relaunch atom for this to take effect. But it's nicely working big thanks.

[2015-08-06 14:12] abe33 commented on #30
Oh, looks like I missed to observe the config.

[2015-08-07 14:30] LukeXuan opened #68 "Error path when try to open files in "Find colors" page"
When I try to open files with a click in pigments find results pane, it open a file with path whose `\` was replaced by `-` , such as `D:-Developer-Projects-xxx-styles-xxx.less`,

Atom version 1.0.4, OS: Windows 7 Ultimate

[2015-08-07 14:41] abe33 commented on #68
Hi, and thanks for the report.
It looks like the path in the data attribute are stripped of their backslashes, I'll fix that asap

[2015-08-07 16:13] DanielJoyce commented on #53
Encountered this as well

[2015-08-09 20:16] Ctrl-J opened #69 "folders named "null" generated in project"
After installing the pigments package I end up with folders titled "null" in various sub-folders of my project. These folders all contain files related to the pigments package (as seen in screenshots below). This occurs for me on both Windows 8.1 and Windows 10. Atom version is up to date (1.0.5), and pigments is at 0.9.3

![image](https://cloud.githubusercontent.com/assets/6982652/9156692/36f0e8a

[2015-08-10 07:52] abe33 commented on #69
Hmm, thanks for the report, but I'm not really sure what happened, I never write anything, no directory, no files, I just read files from disk.
To me, it looks like an issue with the package install process, like it has meddled your current working directory with the Atom's home path. And the fact that you have the color displayed means that pigments seems to work properly.

Can you reproduce this

[2015-08-10 07:53] AntonTrollback commented on #30
+1 :)

[2015-08-10 10:27] abe33 commented on #30
@esiao: I just reviewed my suite and it should update when the setting is changed, it just need a bit of time to scans the new files but that's all.

@AntonTrollback: +1 for what?

[2015-08-10 10:29] AntonTrollback commented on #30
sorry, just bumping the issue. this feature would be great

[2015-08-10 12:02] abe33 commented on #30
As I said, only a browser can accurately evaluate css variables, as it depends on styles cascading. Even the PostCSS documentation is quite clear about that:

In their playground I just tried one of the simplest use case of css variables:

[code]

Which gives:

[code]

That's a pretty simple case and yet PostCSS, as a specialized utility, can't evaluate that properly. A browser, however, is able t

[2015-08-10 12:07] AntonTrollback commented on #30
Alright. Yep, I agree

[2015-08-10 13:01] VenelinPetkov opened #70 "Uncaught TypeError: Cannot read property 'shadowRoot' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.5
**System**: Microsoft Windows 7 Professional
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.9.3

### Stack Trace

Uncaught TypeError: Cannot read property 'shadowRoot' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-10 13:13] Ctrl-J commented on #69
Yeah, it's really strange. It doesn't always happen, but it's happened on multiple physical machines (work and home), as well as multiple operating systems (Windows 8.1 and 10.)

It also sometimes happens in multiple folders at the same time. Other times not at all. When it happens the folders are seemingly random.

The files generated are always the compiled output of your coffeescript code thoug

[2015-08-12 16:35] smlombardi opened #71 "Switch format command converts to rgb not rgba"
Select a color, like `#f5f5f5`. Run command.  Colors is now `rgb(245, 245, 245)`

Docs say rgba, and I would prefer the color be `rgba(245, 245, 245, 1)`, since the usual reason for me to convert would be to lower alpha.

[2015-08-13 10:00] #70 closed

[2015-08-13 10:00] #71 closed

[2015-08-13 16:34] billyjanitsch opened #72 "Missing support for some Stylus built-in functions"
Based on some testing and a grep of the source, it looks like Pigments is missing support for several of [Stylus's built-in color functions](http://learnboost.github.io/stylus/docs/bifs.html) such as `alpha`, `transparentify` (as opposed to `transparentize`), and `grayscale`. Any chance of adding support for the complete set?

Thanks so much for writing this package!

[2015-08-13 18:43] abe33 commented on #72
Hi, and thanks for the report, [`grayscale` is supported](https://github.com/abe33/atom-pigments/blob/master/spec/color-parser-spec.coffee#L324-L336) but you're right about `alpha` and `transparentify`. I may missed them the last time I checked, just the time to add the test for that and I'll push a patch.

[2015-08-13 19:08] billyjanitsch commented on #72
Thanks! Sorry for the mistake about `grayscale`. Here's a more complete list of example functions that don't seem to be working for me:
- `red(#000, 255)`
- `blue(#000, 255)`
- `green(#000, 255)`
- `alpha(#000, 0.5)`
- `hue(#00c, 90deg)`
- `saturation(#00c, 50%)`
- `lightness(#00c, 80%)`
- `spin(#ff0000, 90deg)`

[2015-08-13 19:34] abe33 commented on #72
Oh right, I completely missed the fact that `alpha` and the other components functions can also be used to modify a color, I was only thinking about the read case. For `spin` I forgot to include the support for the `deg` unit in the Regexp.

[2015-08-13 20:27] #72 closed

[2015-08-13 21:41] billyjanitsch commented on #72
Thanks for the quick fix, and the great package! :)

[2015-08-14 06:49] apvilkko commented on #69
I can reproduce this also and it happens consistently so I have to keep pigments disabled. Windows 7, Atom 1.0.7, pigments 0.11.0.

Tried apm uninstall & apm install, the folders still appear.

The null folders seem to appear at the same locations where you edit & save a file.

[2015-08-14 08:35] thomasjo commented on #69
@Ctrl-J and @apvilkko, what other packages do you have installed? `apm list --installed`

[2015-08-14 09:11] apvilkko commented on #69
@thomasjo, my installed packages:

burn@0.1.0
color-picker@2.0.11
file-icons@1.6.3
git-tab-status@1.9.2
grunt-runner@0.11.0
hex@0.6.2
javascript-snippets@1.0.0
jshint@1.3.10
language-jade@0.6.2
linter@1.3.4
linter-pylint@0.2.2
minimap@4.12.3
no-caffeine-syntax@0.16.1
pigments@0.11.0
seti-syntax@0.4.0
Stylus@1.1.0
zentabs@0.8.6

[2015-08-14 12:51] Ctrl-J commented on #69
On my home machine:
├── advanced-new-file@0.4.3
├── ambiance@0.1.2
├── atom-alignment@0.12.1
├── atom-beautify@0.28.10
├── atom-material-syntax@0.2.3
├── atom-material-ui@0.5.20
├── atom-yeoman@0.3.11
├── autoprefixer@2.2.4
├── build@0.43.0
├── css-snippets@0.8.0
├── csscomb@0.3.1
├── csslint@1.1.3
├── emmet@2.3.12
├── isotope-ui@2.5.1
├── javascript-snippets@1.0.0
├── jshint@1.3.10
├── json-schem

[2015-08-17 13:59] smlombardi opened #73 "Uncaught TypeError: Cannot read property 'getMaxScreenColumn' of undefined"
[Enter steps to reproduce below:]

1. ...select block in scss  file
2. ...edit >  cut

**Atom Version**: 1.0.7
**System**: Mac OS X 10.11
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.11.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getMaxScreenColumn' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-17 14:01] smlombardi opened #74 "Uncaught TypeError: Cannot read property 'invalidateScreenRangeCache' of null"
[Enter steps to reproduce below:]

1. ...scss file
2. ...called atom > beautify

**Atom Version**: 1.0.7
**System**: Mac OS X 10.11
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.11.0

### Stack Trace

Uncaught TypeError: Cannot read property 'invalidateScreenRangeCache' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-17 15:08] abe33 commented on #73
Hmm, seems like I can't reproduce this, do you happen to have updated pigments from within Atom before this error occured?

[2015-08-17 15:09] abe33 commented on #74
Hi, same question as in #73

[2015-08-18 00:31] 190n opened #75 "Add option to ignore colors in comments"
![screenshot from 2015-08-17 17 26 50](https://cloud.githubusercontent.com/assets/7763597/9319625/7ed714be-4505-11e5-9db0-06548b26a768.png)

[2015-08-18 07:34] abe33 commented on #75
Please look at the README: https://github.com/abe33/atom-pigments#ignored-scopes

[2015-08-18 07:34] #75 closed

[2015-08-18 15:30] janbaykara opened #76 "Abstracting colour ID'ing to NPM package dependency"
This plugin seems basically an atom plugin wrapper, around a generic Identify-Colours-in-Text module. It could be really cool to separate the Atom-specific functionality from the generic functionality, and expose it to NPM, for the potential performance improvements of wider usage & community improvement.

https://github.com/thomaslindstrom/color-picker/blob/master/lib/modules/SmartColor.coffee im

[2015-08-18 20:38] oskarkrawczyk commented on #6
Autocomplete triggered the error

[code]

[2015-08-19 08:07] abe33 commented on #76
That's funny, because that's how it was done in `atom-color-highlight` (through a module named [pigments](https://github.com/abe33/pigments)), I even [opened an issue in color-picker](https://github.com/thomaslindstrom/color-picker/issues/15) to group our effort. But given that I was the only to use it and that it was creating a lot more work for me (issues created in separated repo, publishing a

[2015-08-19 09:25] janbaykara commented on #76
@abe33 Interesting; shame it fell through. Though I do wonder if the longer-term might see such a package being used for non-Atom projects...

It might still be something to look at when development for this plugin slows / solidifies?

[2015-08-19 22:39] mrmckeb commented on #65
Good idea, @abe33. That'd be a nice addition.

[2015-08-19 22:40] mrmckeb commented on #53
I'm seeing this as well on a MacBook Pro 15 Retina.

[2015-08-20 00:39] sbussard commented on #6
@abe33: always, until I disabled it.
I think @oskarkrawczyk is on to something.

[2015-08-20 07:41] abe33 commented on #76
Sure, that's why I initially started with a npm module. It'll require a serious refactor though.

[2015-08-20 15:43] #6 closed

[2015-08-20 15:43] #65 closed

[2015-08-21 11:30] Skywalker13 commented on #69
Hello, I've the same problem

[code]

[2015-08-21 13:48] defeed opened #78 "Incorrect Find Colors results font"
Pigments doesn't display search results with the Atom's theme font.
On a screenshot below, the results font should be 'Consolas'

<img width="1792" alt="screen shot 2015-08-21 at 20 42 54" src="https://cloud.githubusercontent.com/assets/497537/9409493/3e80ea78-4845-11e5-98ad-7df786dd4d11.png">

[2015-08-22 10:02] abe33 commented on #69
Are you all on windows? I'm really at loss here, I don't reproduce it and I don't understand what could produce that side-effect. As I said, there's no code in pigments that write or compile anything on the filesystem, and I can't find a common denominator in the packages list you all provided.

[2015-08-22 10:06] abe33 commented on #78
Thanks for the report, I'll try to find how to retrieve the font, but I think it'll be tough. One of the limitation is that the `find-and-replace` package is activated only when you perform a search, so that mean that if you use the pigments search first the `find-and-replace` stylesheet aren't loaded yet. I'll try to see how I can force the activation.

[2015-08-22 10:17] Skywalker13 commented on #69
I confirm, no problem under Linux. I've this null directory only under Windows

[2015-08-23 20:12] derwaldgeist opened #79 "Resolving SASS colors is not restricted to current project folder"
I'm using bootstrap in two different projects, hence they are using the same SASS variable names. I noticed that if I open both project root folders in Atom, only one of the project's SASS files show the right colors (e.g. for $brand-primary). Obviously, the parser always scans *all* project directories to determine the colors, and thus finds the same color values for both projects, although they

[2015-08-24 13:40] abe33 commented on #79
Hmm, I'm not sure to exactly get what you encounter, can you show me what differs between the two projects? Is there some kind of default override in these projects?

[2015-08-24 15:55] derwaldgeist commented on #79
@abe33: Thanks for coming back to me.

Let me explain a bit further: There is a SASS variable named $brand-primary in the SASS version of Twitter Bootstrap. This variable holds the primary color used in the website, i.e. it's "brand color". Of course, this color differs between projects, since every customer an own brand color. So, also the $brand-color variable will differ between projects.

If I

[2015-08-24 21:16] abe33 commented on #79
Oh! RIght, I see, I wasn't thinking about multiple roots projects. Thanks for taking time to explain it to me!

Yeah you're right there's a problem here. As I still have to put a strategy in place for priorizing and filtering the variables, they are still priorized using the discovery order (newest variables overrides oldest ones).
The good news is that in your example above a `$brand-primary` var

[2015-08-25 08:52] batjko commented on #69
Just to add, having countered this as well:
Using the the Package Cop package I could track the offending package down to Pigments as well, though of course I wouldn't know what causes this.

[2015-08-25 10:54] abe33 commented on #69
I got my hands on a win7 computer, I hope I'll be able to reproduce that issue with it so I can fix it.

[2015-08-26 19:48] smlombardi commented on #74
This seems to happen when I delete a large swath of text, in a scss file.

[2015-08-27 17:51] rugk opened #80 "Switching from square to dot does not work"
When switching from square to dot the icons still display the squares:
![pigmentscolorswitcherror](https://cloud.githubusercontent.com/assets/11966684/9528490/f75342c2-4cf4-11e5-8049-18d7fc067c83.gif)

[2015-08-27 17:57] rugk opened #81 "Incorrect color position"
Caused by (and/or):
- scrolling
- folding

![pigmentscolorposition](https://cloud.githubusercontent.com/assets/11966684/9528578/89309758-4cf5-11e5-9dcf-27ece5553b0b.gif)

Used file (state at the end): https://gist.github.com/rugk/41947c48f7ddb680bded

[2015-08-28 08:04] abe33 commented on #81
Thanks for the report, I'll be able to take a look at that next week as I'll finally have some free time to work on Atom.

[2015-08-28 08:05] abe33 commented on #80
Thanks for the report, I may have missed something. I'll take a look at that soon.

[2015-08-28 15:35] rugk commented on #80
Just saw in my own gif that curiously the last colour at the bottom changed correctly to a circle.

[2015-08-28 17:10] abe33 commented on #80
Yes, I saw that too, and there's a good reason. Actually I reuse a pool of custom elements to display the markers, so when you scroll in a file the markers that are no longer visible got released and can be reused to display the newly visible ones. As they receive a new model they update themselves based on the current settings, so that explain why in that case the newly visible marker was properl

[2015-08-28 21:30] PaulMorel commented on #69
I'm on Windows 7 and I only seem to get this when I launch Atom via the command line.

Ex: Running `cmd` in my project folder and launching Atom via the `atom .` command to open it in the current folder.

[2015-08-30 12:03] burodepeper commented on #73
Got the same error.

**Atom Version**: 1.0.9
**System**: Mac OS X 10.10.5
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.12.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getMaxScreenColumn' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-30 12:31] andrelima commented on #57
This is not working for me — at least in the latest version.

I have this in config.cson:
[code]

...but still, in Markdown files, words that mention possible colors (like `silver`) get colorized.

[2015-08-30 15:40] abe33 commented on #57
@andrelima: Actually there's no expressions in your ignored scopes that matches a markdown buffer, as it uses the `.source.gfm` scope, hence the `\.source\.gfm` in my example above.

[2015-08-30 16:52] andrelima commented on #57
@abe33: Oh, shouldn't this one apply:

[code]

...?

[2015-08-30 16:54] andrelima commented on #57
...I have to refresh my memory on some of the regex stuff, but that text was based on what you've said before:

[2015-08-30 19:11] abe33 commented on #57
Oh right, my bad, you're indeed right there's a problem here. I'll take a look at that.

[2015-08-30 22:35] #79 closed

[2015-08-31 07:47] derwaldgeist commented on #79
Thanks for fixing this!

[2015-08-31 16:19] #57 closed

[2015-08-31 20:54] peterblazejewicz commented on #69
+1 Win8.1

[2015-08-31 22:22] #68 closed

[2015-08-31 22:22] #73 closed

[2015-08-31 22:22] #74 closed

[2015-08-31 22:22] #78 closed

[2015-08-31 22:22] #80 closed

[2015-08-31 22:23] #64 closed

[2015-08-31 22:23] #67 closed

[2015-08-31 22:25] abe33 commented on #59
@chrisdrackett starting with 0.13 the variables are now sorted when evaluating the value of a color, let me know if it improved things in your context, I think I can apply the same kind of sorting in the autocomplete provider so I'll a take a look at that part too.

[2015-08-31 22:27] abe33 commented on #53
Do you all happen to be able to scroll even when `Scroll past end` is disabled and the file is shorter that the editor?

For me it looks like it's not the text editor that scrolls, and so I don't get notified in a `scroll` event.

[2015-09-01 06:07] zyklus opened #82 "Not honoring config on load"
Specifically "Ignored Scopes" (but maybe others) -- It highlights no matter what when I re-launch atom.  If I then go and change the setting it works again.

[2015-09-01 10:57] abe33 commented on #82
Which version are you using?
I have fixed the issue with ignored scopes not honored at startup in version 0.13 I released yesterday.

[2015-09-01 14:09] andrelima commented on #57
Working now! :) Thank you!

[2015-09-01 21:43] chrisdrackett commented on #59
do I need to do anything to get this working other than updating? Regardless, I'm still seeing the correct color in auto-complete and the incorrect color inline on 0.13.2

[2015-09-02 18:11] steveoh opened #83 "Pigments and atom load time"
pigments is taking over 10 seconds to activate when I load atom. I was reading a little through #43 and I'm curious what sort of scanning are you doing. I would expect scanning to only take place on the active tab/buffer.

this is on windows with atom 1.10

[2015-09-02 19:42] jbilen opened #84 "Sass color functions"
The following will show the color with transparency...
color: transparentize(#000, 0.5);

The other version of the function does not show the transparency...
color: fade-out(#000, 0.5);

[2015-09-03 00:32] SavePointSam opened #85 "HSB Support"
Our team uses HSB to define colors. Any chance of this package getting support for it? Thanks!

[2015-09-05 03:40] simpsondesign opened #86 "Pigments crashing any file opened"
Just tried to give Pigments a whirl, and it's crashing Atom hard for me. Any file (.txt, .html, .j, .scss) opened works a few seconds, but then everything just totally locks up. Running OS X 10.10.5, Atom 1.0.11, w/ Isotope theme.

[2015-09-05 04:19] simpsondigital commented on #43
Hi there. I seem to be having a similar issue with Pigments. Also a large project with a lot of template dependencies which include a good number of scss files. I also experience Pigments working for a short period, then total lock-up. Any additional info I can provide?

[2015-09-06 17:02] silvenon commented on #53
This happens to me only inside the `<style>` tag in HTML files, not in CSS files.

[2015-09-07 16:22] ChristophLabacher commented on #85
I have got the same problem with HSL

[2015-09-08 11:45] abe33 commented on #83
Actually, pigments scans the sources for files that match the `pigments.souceNames` settings. This scanning is done asynchronously so it doesn't impact activation time (it starts after the activation). Its purpose is to list all the variables in the project so that colors can be evaluated even when they reference a variable that comes from a different file.

It may be due to the deserialization of

[2015-09-08 11:46] abe33 commented on #84
Hi @jbilen, thanks for the report, I have missed these variants, I'll add them soon.

[2015-09-08 11:52] abe33 commented on #85
@SavePointSam: Sure, I'll add that soon, I just need to check how this colorspace works and to write the tests for it.

@ChristophLabacher: What's your problem with HSL? Can you open a new issue with reproduction steps? Because [HSL is actually supported](https://github.com/abe33/atom-pigments/blob/master/spec/color-parser-spec.coffee#L116-L141).

[2015-09-08 11:54] abe33 commented on #86
Do you have any crash report to provide? Or information on the context in which it occurs (how big is the project you're trying to open, what are the dependencies, etc.)? With so little information I can't do much to help you.

[2015-09-08 12:08] abe33 commented on #43
@simpsondigital Ideally, if you could provide reproduction steps I could investigate it myself, or information about the project structure that triggers that lock-up, as well as the pigments configuration you're using.

[2015-09-08 13:00] #84 closed

[2015-09-08 13:00] #85 closed

[2015-09-08 14:21] jbilen commented on #84
Thanks! This package saves me a lot of time... much appreciated!

On Tue, Sep 8, 2015 at 9:00 AM, Cédric Néhémie <notifications@github.com>
wrote:

[2015-09-09 06:07] feimosi opened #87 "Show Palette opens twice the same tab"
When using `Pigments: Show Palette` command two the same tabs with colors are opened.

Package version: 0.14.0
Atom 1.0.11

[2015-09-10 17:05] CFF opened #88 "Uncaught TypeError: Cannot read property 'push' of undefined"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.0.11
**System**: Mac OS X 10.10.3
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.14.0
### Stack Trace

Uncaught TypeError: Cannot read property 'push' of undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-09-11 10:44] Arnopello opened #89 "colorize .txt files although default settings"
Hi

I have your (awesome) package installed with default settings. For what I understand, with these defaults settings, it is only active for css files. But I find words colorized in .txt files.

Have I missed something?

[2015-09-13 11:19] ChristophLabacher commented on #85
@abe33 I think I just found my problem: I was writing
[code]
instead of
[code]

Now it’s working. According to the specification you have to use the %, so basically your code is right. My colors were working in all major browsers though, so maybe you might want to consider supporting that version too.

Sorry for the hassle and thanks for you awesome package!

[2015-09-13 20:45] bendacoder opened #90 "Color Changing in Python"
When I was looking over my python code, I noticed that in the comment `#add server` the add was backgrounded blue, is there any way to fix this?

[2015-09-14 07:48] abe33 commented on #85
@ChristophLabacher thanks for the follow up, it makes sense to also support a version without % as there's a high probability that some pre-processor also support it (I think sass is, I'll have to confirm that though).

[2015-09-14 07:49] abe33 commented on #90
Yup, add an expression to match the python scope in the `ignoredScopes` setting. It should look like `\.source\.python`.

[2015-09-14 07:49] #90 closed

[2015-09-14 08:04] abe33 commented on #89
By default it displays colors in every file and every context. You can ignore a context using a regular expression matching its scopes (See the README for documentation).

[2015-09-14 08:04] #89 closed

[2015-09-14 09:35] abe33 commented on #87
Not sure I understand what the problem is. There is only one palette by project, so when trying to open the view second time it'll activate the open view instead. What would you expect?

[2015-09-14 09:35] abe33 commented on #88
Hi, can you give me more information about what actions led to this error?

[2015-09-14 11:33] feimosi commented on #87
No, I meant that they open at once with a single command press. Anyway, now I've just noticed that the problem solved itself, so I'm closing the issue.

[2015-09-14 11:33] #87 closed

[2015-09-14 16:33] SavePointSam commented on #85
Please support without %. We wrote out a Sass function that requires colors to look like this,
`$grey-100: hsb(0, 0, 100);`

[2015-09-14 20:00] bendacoder commented on #90
Thanks, it is now fixed!

[2015-09-15 02:22] patrickcate commented on #53
This is happening to me in .css and .scss files (the only ones I've tested), not just inside `<style>` tags.

I've had have `Scroll Past End` disabled and definitely am seeing the issue. I went ahead and turned on  `Scroll Past End` and haven't noticed the issue yet, but I will have to test more to see if it's really gone.

[2015-09-15 02:23] patrickcate commented on #81
This issue and demo looks similar to the #53 issue I'm seeing.

[2015-09-15 11:27] abe33 commented on #53
@patrickcate, @silvenon As I said, my issue here (beyond the fact that I can't reproduce it) is that it seems that the this scroll isn't performed at the text editor level (which is what I listen to). Without knowing the conditions that lead to that case I can't reproduce it and thus I can't fix it. My guess is still the same, something is creating a scroll somewhere deeper in the text editor, res

[2015-09-15 18:21] rugk commented on #53
Maybe it has to do with 'how you scroll' (a specific mouse) or something like this.

[2015-09-15 18:22] rugk commented on #81
Yeah similar, although the main issue is the folding here.

[2015-09-15 22:55] mrmckeb commented on #53
I haven't been able to replicate it today when I've been trying.  It did happen to me when I had split view open, and changed between the open panes - but again, I can't get that to happen today.

[2015-09-18 21:45] wyozi opened #91 "Ability to extend pigments"
Hi. I created a plugin to extend atom-color-highlight a while ago and now I'd like to convert it to pigments. Is there a guide or simple way to do it like there was with the atom-color-highlight package.

For what it's worth, I'm trying to highlight at least the following expression (in .lua files)
```Color(255, 0, 0, 255) --rgba```

[2015-09-19 13:34] LuckyLuky commented on #42
I have the same issue, I checked the ```.atom/packages``` directory and the color module has following modules installed:
- ```color-convert```
- ```color-string```

I'm not sure if these are all that are required.

[2015-09-21 08:55] daftpanda commented on #42
Same issue since today with several packages - atom got an update :(
and idea how to fix this?

[2015-09-21 11:19] abe33 commented on #91
Hi @wyozi, initially I wanted to have a pigments service so that packages can register their own expressions, but I faced some difficulties as most of the color parsing is done off the main thread in a task, and expressions that would have been registered using the services wasn't available in the tasks threads. I still have to find a way to consume services so that the tasks threads cann access t

[2015-09-21 11:22] abe33 commented on #42
@LuckyLuky, @daftpanda  Have you tried running `apm rebuild` or `apm rebuild-module-cache`?

[2015-09-21 11:28] daftpanda commented on #42
@abe33 tried both, didn't fix the problem :(

[2015-09-21 11:31] abe33 commented on #42
You are on 1.0.15 right?

[2015-09-21 11:32] daftpanda commented on #42
right :)
![image](https://cloud.githubusercontent.com/assets/14540591/9990876/3b0bb26e-6065-11e5-9914-fc86b88aa279.png)

[2015-09-21 11:38] abe33 commented on #42
I'm on 1.0.15 and didn't get that error, have you tried removing the `node_modules` directory in the package and run `apm install` manually in it?

[2015-09-21 11:47] daftpanda commented on #42
did it, but didn't work aswell:

![image](https://cloud.githubusercontent.com/assets/14540591/9991103/5456f1dc-6067-11e5-97e9-e1ac27c7cfdf.png)

[2015-09-21 12:25] abe33 commented on #42
That's crazy...
Is it the same module that can't be found each time or does it changes with consecutives installations? Also, is there some kind of error log during the install?

[2015-09-21 12:27] daftpanda commented on #42
It's the same module that can't be found so far and nope, no error log while installing - just after it got installed again, the same error as above shows up...

[2015-09-21 13:00] abe33 commented on #42
I'm a bit at loss here, it's like some random package isn't installed properly, repeatedly, without any other kind of information. For instance minimatch is used by at least [scandal](https://github.com/atom/scandal) which is installed with Atom so I guess there's something deeper there.
Can you try to `npm install minimatch` in pigments directory to see if it's a pb with the package/your config o

[2015-09-21 13:05] daftpanda commented on #42
<code>apm install minimatch</code> in the pigments directory dropped the following:

![image](https://cloud.githubusercontent.com/assets/14540591/9992410/3c5f81c4-6072-11e5-813c-95f623785ae9.png)

[2015-09-21 13:39] abe33 commented on #42
@daftpanda Use `npm` instead of `apm` in this case specifically (`minimatch` is a node module and `apm` only install atom packages).

It looks like this issue occurs for many packages randomly (someone reported the same error in the minimap for another dependency, so it may be a much more broader issue with latest Atom release).

[2015-09-21 13:42] daftpanda commented on #42
@abe33 thanks, but I already removed atom completely, reinstalled it and installed pigments again, but:

![image](https://cloud.githubusercontent.com/assets/14540591/9993271/2f67c5c6-6077-11e5-8615-7fbe2d1d75d0.png)

now it's another module xD
But yeah, I created a support topic about the whole problem:

https://discuss.atom.io/t/atom-throwing-several-failed-to-load-the-xyz-package-errors/20969

[2015-09-21 14:07] abe33 commented on #42
Thanks for your time :)

[2015-09-21 14:13] daftpanda commented on #42
Well, I have to thank you for your time and efforts ;) Good job overall!

[2015-09-21 16:32] LuckyLuky commented on #42
@abe33 You're right about the issue being broader, I have currently installed 4 community packages, ```save-session```, ```minimap```, ```php-debug``` and ```pigments```, and only ```save-session``` works, other packages always fail to load. I also have the latest version of Atom

[2015-09-23 18:04] nathansobo commented on #42
Could this be an issue with npm?

[2015-09-23 19:12] nathansobo commented on #42
@daftpanda Would you mind telling me which operating system you're using?

[2015-09-23 19:16] daftpanda commented on #42
@nathansobo I'm running Windows 7 Ultimate 64bit

[2015-09-28 06:07] lee-dohm opened #92 "Uncaught TypeError: this.editor.displayBuffer.getVisibleRowRange is not a function"
[Enter steps to reproduce below:]

1. Open a file
2. Attempt to scroll it

**Atom Version**: 1.2.0-dev-daca18f
**System**: Mac OS X 10.10.5
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.15.0

### Stack Trace

Uncaught TypeError: this.editor.displayBuffer.getVisibleRowRange is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2015-09-28 14:09] abe33 commented on #92
Hi @lee-dohm, I discovered that this morning, 0.16.0 addresses this issue, I just forgot to link the commit to your issue.

[2015-09-28 14:09] #92 closed

[2015-09-28 14:18] lee-dohm commented on #92
Awesome, thanks!

[2015-09-29 01:24] bryanbraun opened #93 "Colors are highlighted in JSON formatted documents"
This is what I see.

![image](https://cloud.githubusercontent.com/assets/1256329/10152375/3d669ef6-661f-11e5-86c5-4ca9fb1309c9.png)

I only expect to see highlighted color names when the file syntax is CSS, Less, Sass, or something similar. It's possible that this is a configuration issue, but I'm using the default settings and this is a `.json` file. I went through the package settings and couldn

[2015-09-29 07:17] abe33 commented on #93
Hi @bryanbraun, please take a look at the `Ignored Scopes` section of the README: https://github.com/abe33/atom-pigments#ignored-scopes.

[2015-09-29 07:17] #93 closed

[2015-09-30 07:05] ernest33 opened #94 "Failed to activativate the pigments package"
[Enter steps to reproduce below:]

1. Disable
2. Enable

**Atom Version**: 1.1.0-beta.0
**System**: Windows 7 Prof 64bits
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.16.1

### Stack Trace

Failed to activate the pigments package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-30 07:42] abe33 commented on #94
Hi @ernest33, sorry for that, it comes from the deprecations fixes made to honor the latest master changes (see #92).
I thought that fixing the engine version to >= 1.0.20 would be enough to protect against user with an older version to get the update but I didn't thought about people who built Atom from master and did not update since then.

I see two options here:

1. Update Atom by pulling and

[2015-09-30 20:14] envygeeks opened #95 "Your package causes compile-cache to reach 100% cpu for extended periods."
**_Linux**_: Ubuntu/GNU 14.04 w/ Kernel 3.13
**_Atom Version**_: `atom --version 1.0.19-5f4f6d2`
**_Atom Package**_: `pigments`

**_Atom Install Method**_: Home Directory with App Armor
**_Install Directory**_: ~/.opt/atom
**_Bin Path**_:
- ~/.local/bin/atom -> ~/.opt/atom/bin/atom
- ~/.local/bin/apm  -> ~/.opt/atom/bin/apm

**_Method of Confirmation**_: We disabled all packages and enabled only y

[2015-09-30 22:48] capSAR273 commented on #81
Just wanted to stop in and say that this is still an issue, I'm on version 0.15.0. It actually screws with the alignment of every line afterwards:
![image](https://cloud.githubusercontent.com/assets/5252505/10208803/e04f778e-67a3-11e5-8871-a4099a897890.png)
Love the package, thanks for your hard work!

[2015-10-01 07:50] abe33 commented on #95
Hi @envygeeks, thanks for the report. It looks like it had to do with the background task running when scanning a buffer. Have you tweaked the package settings? Would you mind sharing your configuration to see if I can find something like a clue about the issue?

If the issue really comes from the compile-cache then it could be related to the requiring being written in coffee and compiled on the f

[2015-10-01 08:39] envygeeks commented on #95
According to my configuration file I've not tweaked any settings: `pigments: {}`.  I honestly don't know if it comes from compile-cache but we assumed it did because it was requiring the compile cache (it could really be something else) but we do have a background process that is launched and consuming the CPU.  The reason we assumed it was the compile cache over it requiring it was because it was

[2015-10-01 12:32] sergeyzozulya opened #96 "Uncaught TypeError: this.editorElement.onDidChangeScrollLeft is not a function"
[Enter steps to reproduce below:]

1. Open file in fuzzy-finder
2. ...

**Atom Version**: 1.0.19
**System**: Ubuntu 15.04
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.16.1

### Stack Trace

Uncaught TypeError: this.editorElement.onDidChangeScrollLeft is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-01 13:00] abe33 commented on #96
Hi @sergeyzozulya, how did you update pigments? v0.16.1 should not be available before Atom 1.0.20 gets released (see https://github.com/abe33/atom-pigments/blob/master/package.json#L18).

This error is due to a change made on master that moves a lot of API from the text editor to its element, the patch that adressed these changes was released to fix the error for all the people using an Atom vers

[2015-10-01 13:18] sergeyzozulya commented on #96
Hi
I tried latest beta and it's updated all packages
After that I reverted back to 1.0.19
If this source of problems then sorry for bothering

_____________________

Sergey

On Thu, Oct 1, 2015 at 4:00 PM, Cédric Néhémie <notifications@github.com>
wrote:

[2015-10-01 13:25] abe33 commented on #96
@sergeyzozulya Yes, it seems like it, you should run `apm install pigments@0.16.0` to revert pigments too :)

[2015-10-01 13:41] sergeyzozulya commented on #96
Didn't help
I have 0.16.0 installed and it still shows:

/usr/share/atom/resources/app.asar/node_modules/q/q.js:128
TypeError: this.editorElement.onDidChangeScrollLeft is not a function
at pigments-markers.ColorBufferElement.setModel
(/home/zozo/.atom/packages/pigments/lib/color-buffer-element.coffee:44:39)
at Object.createView
(/home/zozo/.atom/packages/pigments/lib/color-buffer-element.coffee:20

[2015-10-01 14:12] abe33 commented on #96
@sergeyzozulya Oh sorry, 0.16 is the one I introduced the changes in, with 0.15 you'll be good. Again sorry for the mistake.

[2015-10-01 14:26] sergeyzozulya commented on #96
thanks a lot, now it's fixed

_____________________

Sergey

On Thu, Oct 1, 2015 at 5:12 PM, Cédric Néhémie <notifications@github.com>
wrote:

[2015-10-01 15:20] abe33 commented on #96
Glad to hear that, I'll close the issue then.

[2015-10-01 15:20] #96 closed

[2015-10-01 18:03] madranet commented on #93
I don't understand this either. I've read the docs and looked at the settings and [unless I'm looking at the wrong thing], it seems Pigments should only highlight colours in CSS [and similar] documents. however, I'm seeing colours highlighted in any kind of document, even plain-text.

Can you point to the specific option that controls this?

This issue keeps coming up and you keep basically tellin

[2015-10-01 20:19] abe33 commented on #93
Sorry if the documentation isn't clear enough, but nowhere in the README I state that Pigments only works for CSS files only. It works for every files as long as you don't explicitly ignore their scope.

Did you clicked on the link I posted above? Because it's the option that controls this!

Now if you think my explanations aren't clear enough, well, what can I say. Yeah, probably. English isn't m

[2015-10-02 14:15] madranet commented on #93
Thanks for taking the time to reply. ```^(?!\.source\.css).*``` did the job nicely.

I think the confusion lies with the wording in the Pigments settings window. "Ignored Scopes" doesn't exactly make a lot of sense to the 'average user', as the concept of "scopes" is probably more familiar to Atom developers [a bit like the potential confusion between 'buffers' and 'files']. Might be better to use

[2015-10-02 14:55] abe33 commented on #93
I started to think of a way to improve the documentation with a specific section about how to ignore files/scopes in pigments.

I'm not sure about that, the concepts are quite different, while you can use scopes to ignore a file type using its source scope, you can also use it in a more fine grained way, like the examples I've written in the README (ignore string, comments). I fear that bypassing

[2015-10-03 10:50] v3ss0n commented on #17
that is happening again after latest update!

[2015-10-03 10:51] v3ss0n commented on #17
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0-dev-f2aeb63
**System**: "Sabayon Linux
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.16.1

### Stack Trace

Failed to activate the pigments package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-03 19:50] abe33 commented on #17
@v3ss0n I think you got bitten by the fact that custom elements aren't updated unless you reload Atom, do you still get this error after a reload/restart?

[2015-10-03 21:18] v3ss0n commented on #17
ah i gonna try that

[2015-10-09 02:42] joepaolicelli commented on #83
This is also happening for me. Here is what timecop shows:
<img width="347" alt="pigments load time timecop" src="https://cloud.githubusercontent.com/assets/5841125/10384650/c9132f60-6e0c-11e5-8140-be436779a489.png">

Project size is probably the issue here - I have three project folders, each with a large number of files in nested folders. This doesn't cause me any issues - except, it seems, for

[2015-10-09 09:19] abe33 commented on #83
Would you mind running Atom with `atom --profile-startup` and share with me the resulting profile? As I said in my comment above, without proper informations it's hard to define where the bottleneck is.

[2015-10-09 09:53] Otterpocket commented on #17
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0-beta.0
**System**: "openSUSE 13.2
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.16.2

### Stack Trace

Failed to activate the pigments package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-09 11:30] abe33 commented on #17
@Otterpocket I just pushed a patch that should fix this error by reintroducing the support for the now deprecated API.

[2015-10-09 12:59] Otterpocket commented on #17
@abe33 :+1:

[2015-10-09 16:58] abe33 commented on #28
I forgot to reply, but now there's a new feature called project settings (available through the command palette) that allow you to ignore the global settings on a per-project basis. So I think I can close this issue now :)

[2015-10-09 16:58] #28 closed

[2015-10-09 23:10] abe33 commented on #93
@madranet I'm introducing a new setting where you can use file extensions instead of regular expressions to specify the files where colors will be highlighted, let me know if the documentation in the README feels clearer for you.

[2015-10-10 12:31] sanusart opened #97 "Color indicator on the gutter"
Hi,

I think it could be nice to have the color indicator on the gutter among other options, like in line 17:
![image](https://cloud.githubusercontent.com/assets/267718/10411085/872c08a8-6f63-11e5-80b1-2228dc140bc5.png)

[2015-10-12 11:35] madranet commented on #93
The documentation certainly seems a lot clearer now.

Couple of small points though:

1.  I *think* that the 'Supported Filetypes' box wasn't visible in the settings window, but appeared only after I manually added:

[code]

into the config.json file. If I delete that entry from config.json, the 'Supported Filetypes' box remains visible in the settings window [albeit empty]. So it maybe that I jus

[2015-10-12 11:43] abe33 commented on #93
Weird, are you using version 0.17? Because it should appear right below the `Source Names` setting:

![settings_-__users_c_nehemie_development_gsoi_rep-website_-_atom](https://cloud.githubusercontent.com/assets/247140/10427081/bdfb710a-70e6-11e5-98cc-41bbcdfaced1.png)

Right, the thing is when you define it in the settings view, it will be serialized with a double-backslash (which is the proper wa

[2015-10-12 12:25] madranet commented on #93
0,15. I'm not seeing any 'update available' in Atom. As I said though, I might just have missed the 'Supported Filetypes' box in the settings window, the first time I looked.

That's OK then. As long as the double-backslashes are the desired behaviour. I just thought that it didn't do so previously when you sent me the regex and I applied it through the settings window. But, again, I may be mistak

[2015-10-12 14:27] abe33 commented on #93
Oh, right, there's still the limitation on the engine, I'll remove it immediately.

[2015-10-12 14:32] abe33 commented on #93
BTW, once you'll get the update, you can remove the rule in the ignored scope as the supported filetypes setting will build that for you (it's really just a wrapper to simplify the constrution of this kind of regexp).

[2015-10-12 18:25] tcoopman opened #98 "Would support for elm be possible?"
It would be nice if this plugin could support elm syntax.
As you can see here http://package.elm-lang.org/packages/elm-lang/core/2.1.0/Color the syntax looks for example like: `rgba 100 100 100 1` or `rgb 255 200 150`

[2015-10-12 19:24] abe33 commented on #98
Sure, doesn't look too complicated, I'll try to find some time to implement it this week.

[2015-10-12 19:30] tcoopman commented on #98
Thanks, would be great!

[2015-10-12 21:05] johnmuhl opened #99 "Add an option to show color swatch while cursor is inside color declaration"
![untitled](https://cloud.githubusercontent.com/assets/7944/10438692/b815413a-70fa-11e5-9404-92e53b9f87f4.gif)

Note how the color swatches disappear when the cursor is within "aqua" or "pink".

[2015-10-13 16:52] abe33 commented on #99
It's an omission on my end, only background markers should disappear when the cursor intersects their range. The fix will come soon.

[2015-10-13 17:04] abe33 commented on #97
Hi @sanusart, thanks for the suggestions.
I think it was requested once a long time ago but at that time there was no API to create custom gutters and such.

However, it's not as trivial as it seems, one issue is that pigments currently doesn't use Atom's decorations API, as it's not possible to pass custom content/attributes to the decorations (which is needed here to specify the color and to set

[2015-10-13 20:04] sanusart commented on #97
Got it. Thanks for clarification.

[2015-10-13 20:39] #91 closed

[2015-10-13 20:39] #99 closed

[2015-10-13 21:31] steveoh commented on #83
`atom --profile-startup` doesn't work anymore. I tried it on windows and osx.I run that command, atom opens, i open the dev tools and click on profiles and nothing is there. Any help @abe33?

[2015-10-14 01:27] pgnd opened #101 "upgarde to v0.17.1 fails"
Updating to “pigments@0.17.1” failed.Hide output…

    npm ERR! not a package /tmp/d-115913-4679-7xi961/package.tgz
    npm ERR! addLocal Could not install /tmp/d-115913-4679-7xi961/package.tgz
    npm ERR! Linux 4.2.3-1.gef1562d-default
    npm ERR! argv "/usr/share/atom/resources/app/apm/bin/node" "/usr/share/atom/resources/app/apm/node_modules/npm/bin/npm-cli.js" "--globalconfig" "/home/pgnd/.a

[2015-10-14 08:06] abe33 commented on #101
Probably just a network issue when downloading an update, it happens from time to time. Can you retry and tell me if you still get the error?

[2015-10-14 08:09] abe33 commented on #83
@steveoh Did you notice anything particular in the resulting profile? Also it may happen than even with the `--profile-startup` option the profiling won't start, in that case, reloading Atom may help getting the proper profiling.

Also, in my own exploration I found I was evaluating all serialized colors on restoration, which was costing a log as it's a synchronous operation. I believe the latest

[2015-10-14 09:32] Nico207 commented on #101
I've almost got the same error in Windows :
[code]

But you're rigth, it's just a network issue. I've tried some minutes after (I restart Atom to be sure) and all works fine.

[2015-10-14 12:47] pgnd commented on #101
It took waiting overnight, but -- yep, problem gone.

[2015-10-14 12:48] #101 closed

[2015-10-14 15:47] aaronbarker commented on #28
@abe33 This works great, thank you!

[2015-10-15 11:06] felics opened #102 "Atom Helper hitting 100% CPU after opening project"
[Possibly related to #95 ]

Whenever I open or switch a project (managed with the `project-manager` package), the Atom Helper Process immediately jumps to 100% CPU Usage. I confirmed that `pigments` is the cause for this by disabling all other packages and re-enabling them one by one. The Atom Helper Process seems to have opened all `scss`-files in all of my repositories. `(Activity Monitor -> Pro

[2015-10-15 14:24] abe33 commented on #102
Thanks for the report.

That's right, the default behavior is to scan all the scss/less/sass/styuls files in the project directories to build a list of all variables and colors in the project to properly evaluate the colors when it encouter one in a file. You can limit this by either setting the `sourceNames` setting to an empty string or to ignore this setting on a per-project basis using the `Pi

[2015-10-15 14:26] abe33 commented on #95
I didn't noticed it before, but it seems that recently Atom started to recompile all the files used used in a task whenever the task is started. I'm not sure so I'll have to investigate that.

[2015-10-15 14:27] felics commented on #102
@abe33 Makes sense, thanks for the info. But why does the process keeps spinning after Atom is closed? Does it finish when it's done? If this is intended behaviour, feel free to close this issue.

[2015-10-15 14:50] abe33 commented on #102
It's clearly not the intended behaviour! I may have forgot to kill the task on package deactivation, I'll check that because there's no point to keep scanning files after Atom was closed.

It should, actually I don't even rescan when a file is created or removed (maybe I should in this case).

[2015-10-16 08:32] #98 closed

[2015-10-17 18:11] flagbug opened #103 "Colors with alpha channel are displayed incorrectly"
This image should explain it:

![Pigments](https://cloud.githubusercontent.com/assets/964691/10560414/fc14c20c-750a-11e5-9e04-3df94a5b386e.png)

The second color should be displayed as red, just like the first color

[2015-10-18 05:41] MoOx commented on #53
Same issue with Atom 1.0.19 and pigments 0.18.0. I only use the following (community) packages: open-in-github-app, pigments, project-manager, react, smart-tab-name.

[2015-10-18 10:57] abe33 commented on #103
AFAIK the only preprocessor that supports hexa rgba notation is Stylus, and it follows the CSS4 draft, which states that 8 digit hexadecimal notation defines a RRGGBBAA color and not a AARRGGBB color.

https://drafts.csswg.org/css-color/#hex-notation

So this is the proper behaviour regarding CSS.

[2015-10-18 11:20] flagbug commented on #103
Ah, that explains the behavior.

I'm using the colors in .NET with XAML, where the colors are expressed as `AARRGGBB`, I thought it's like that everywhere: https://msdn.microsoft.com/en-us/library/bb980062%28VS.95%29.aspx?f=255&MSPPError=-2147217396

Do you think there's an easy way around this?

[2015-10-19 07:53] abe33 commented on #103
Hmm, interesting, I'm not sure to have a solution out-of-the-box. I'll think about one, probably a setting to switch the format of 8 digit hexadecimal between RGBA and ARGB. Anyway, thanks for the heads up!

[2015-10-19 07:59] abe33 commented on #53
@MoOx And you're using a One light/dark theme too? I'll try to reproduce that again, but I still don't get what occurs and have no clue about a possible origin.

[2015-10-19 08:04] MoOx commented on #53
Yep (One dark).

[2015-10-23 18:31] dbkaplun commented on #81
:+1: same issue here:
![screenshot](http://imgur.com/CGttMJU.png)

[2015-10-23 18:32] dbkaplun commented on #53
:+1: same issue here:
![screenshot](http://imgur.com/CGttMJU.png)

(no folding at the time of screenshot)

[2015-10-23 23:37] nunocastromartins opened #104 "Folding with dot markers"
The dot marker (both circle and square) is semi-visible when a rule is folded:

![expanded](https://cloud.githubusercontent.com/assets/8314616/10707095/9fc67696-79e5-11e5-92d0-77278fd257fc.png)
![folded](https://cloud.githubusercontent.com/assets/8314616/10707096/9fe78296-79e5-11e5-8af9-f8eb2fa82306.png)

I suspect that the marker should be hidden.

[2015-10-24 11:03] abe33 commented on #94
Hi @ernest33, I believe v0.17.1 should have addressed this issue, let me know if I can close this issue.

[2015-10-25 23:47] joshprice opened #105 "Question: is there anyway to highlight custom colour mixins?"
I have a custom `colour('colour-name', scale)` mixin which I'd like to evaluate and highlight.

Is there any way to achieve this?

[2015-10-26 07:16] ernest33 commented on #94
Hello @abe33 .
You can close this issue. Everything work good now :+1:

[2015-10-26 10:02] evilcandybag commented on #103
I have the exact same use case. Would be really great to have the option to set ARGB!

[2015-10-26 17:27] #94 closed

[2015-10-26 17:33] abe33 commented on #105
Unfortunately, there's no simple solution actually, except by modifying the Pigments sources. Initially I wanted to expose a service to extend its behaviour, but as the current implementation is performing most of the color parsing in another thread there was issues to expose such service (workers doesn't have access to Atom services). I plan to refactor the parsing workers to allow this kind of e

[2015-10-27 14:44] abe33 commented on #104
Hi @nunocastromartins, sorry for the late reply, I've got the patch ready, I'm trying to fix another issue and will release both at the same time, stay tuned!

[2015-10-27 18:34] mike3run opened #106 "Variables in Sass Syntax not working"
It was working then suddenly not.

I tried reload pigments, find variables and even uninstall and reinstall. 😩

![Issue](https://cloud.githubusercontent.com/assets/7088511/10768465/e2bacb50-7ca6-11e5-9968-c2d37f943041.png)

[2015-10-27 22:36] #104 closed

[2015-10-28 08:58] abe33 commented on #106
Hi @mike3run, thanks for the report but I will need some more information:

1. I would need the classical combo OS version/Atom version/Pigments version.
2. Have you noticed errors popping up in the console? Either at startup or when typing in the editor?
3. Do you still have the same issue after cleaning the data in storage? (see my post on discourse on how clearing the serialized data for a give

[2015-10-28 12:26] mike3run commented on #106
Hey there, sure:

1. Mac OS X - El Capitán Latest / Atom Latest / Pigments Latest
2. No errors
3. I did clean data. Actually I erased fully the contents of ~/.atom/storage
4. Some color variables are recognized but without the dot of color on them.

I hope I could provide some help

[2015-10-29 23:58] langtianlang commented on #92
Seeing this exception on v0.18.1. Different stack trace though, so I wasn't sure whether I should open a new issue.

[Enter steps to reproduce below:]

1. open any file

**Atom Version**: 1.1.0
**System**: Mac OS X 10.10.4
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.18.1

### Stack Trace

Uncaught TypeError: this.editor.displayBuffer.getVisibleRowRange is not a

[2015-10-30 08:47] abe33 commented on #92
@langtianlang Looks like another issue with custom elements not updated with the rest of the package.

In Pigments 0.18.1 the line referenced in your stack trace should be this one:
https://github.com/abe33/atom-pigments/blob/master/lib/color-buffer-element.coffee#L145

But it's the previous version, reloading Atom should fix that.

[2015-10-30 14:28] kiki-le-singe commented on #92
@abe33 Thanks!

[2015-10-30 19:38] langtianlang commented on #92
@abe33 excellent thanks

[2015-10-31 00:32] abe33 commented on #92
Gald to hear that :-)

FWIW, I'm currently considering getting rid of the custom elements, it's just too much trouble given every update can possibly break something without being able to do anything except reload Atom. And forcing a reload is clearly a poor UX. I'll probably work on that after I shipped the new services allowing to extend Pigments colors and variables parsing.

[2015-10-31 07:05] abhikc opened #107 "Failed to activate the solarized-light-syntax package"
[Enter steps to reproduce below:]

1. OS X -> Click on Atom menu -> Preferences
2. Select Themes -> Pick any new theme to apply

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.18.1

### Stack Trace

Failed to activate the solarized-light-syntax package

[code]

### Commands

[code]

### Config

[code]

### Installe

[2015-10-31 10:35] abe33 commented on #107
Hi @abhikc, sorry about that, as with #92 and [my comment](https://github.com/abe33/atom-pigments/issues/92#issuecomment-152462289) at the end, the issue comes from the package's custom elements that are not updated properly with the rest of the package, reloading Atom should do the trick here.

I plan to get rid of them soon to avoid this kind of issues in the future.

[2015-10-31 10:35] #107 closed

[2015-10-31 10:43] abhikc commented on #107
Thank you very much.

On Saturday 31 October 2015, Cédric Néhémie <notifications@github.com>
wrote:

[2015-10-31 13:45] YurySolovyov opened #108 "Uncaught TypeError: Cannot read property 'toCSS' of undefined"
[Enter steps to reproduce below:]
1. try to open some minified js file
2. error happens

**Atom Version**: 1.1.0
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.18.1
### Stack Trace

Uncaught TypeError: Cannot read property 'toCSS' of undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-11-02 12:53] abe33 commented on #108
Hi @YuriSolovyov, thanks for the report, I'm not really sure why you got this but I'll add a guard to prevent this kind of errors in the future.

[2015-11-02 12:56] YuriSolovyov commented on #108
Thanks, @abe33, I will test as soon as new version will be out there.

[2015-11-02 18:58] Arkngl opened #109 "Failed to activate the one-dark-ui package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.1
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.18.1

### Stack Trace

Failed to activate the one-dark-ui package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-03 08:38] abe33 commented on #109
Hi @Arkngl, do you still get the issue after reloading Atom? It looks like #107 to me.

[2015-11-03 20:19] kendaleiv opened #110 "Referring to Azure (as in, Microsoft Azure) highlights with color"
When referring to Azure, as in, [Microsoft Azure](https://azure.microsoft.com/) in the Atom editor, rather than the color, Azure is highlighted as the color.

I'll refrain from suggesting how to change this, or if it *should* actually be changed -- just making a note of something I've seen.

[2015-11-03 23:14] abe33 commented on #110
Hi @kendaleiv, yes, azure is a color defined in the SVG color palette, so, by default, Pigments will highlight it. You can prevent that behaviour by ignoring the context in which it appears using the [Ignored Scope](https://github.com/abe33/atom-pigments#ignored-scopes) setting. Let me know if you need more details on how to achieve it.

[2015-11-05 02:45] kendaleiv commented on #110
Thanks for the info!

[2015-11-05 02:45] #110 closed

[2015-11-05 13:30] DouweM commented on #103
Would it be feasible to have this depend on the scope?

[2015-11-05 19:54] abe33 commented on #103
@DouweM That might be a really interesting solution thanks for suggesting it! I still haven't found the time to work on that as I'm working on refactoring pigments to allow services to extend the available parser rules, but it's quite a huge change that has impact on a lots of parts in Pigments so I want to focus on it to avoid any drop in performances.

[2015-11-05 20:05] abe33 commented on #106
Hi @mike3run, sorry for the late reply, would you mind sharing the file in question so that I can take a look a the issue.

Also, are you able to see the colors defined as variables in the palette view?

Lastly, could you share with me your pigments config and eventually the project config?
For the former you can run `JSON.stringify(atom.config.get('pigments'), null, 2)` in the devtools to get the

[2015-11-05 20:16] DouweM commented on #103
@abe33 Scope-dependent rules sound like a decent use case for the extension framework :)

[2015-11-06 09:23] abe33 commented on #103
Yes obviously, but that's still a huge feat in itself, I don't even know how I can implement that. There's a lot of the parsing that is made without knowledge of the grammar and scopes - ie. for variables, parsing can occurs on files directly on disk without having a text editor available, and scopes aren't known in this case - so that will probably tough to make it work seamlessly.

Also, one of

[2015-11-08 02:08] pakchano opened #111 "Failed to activate the emmet package"
If the Instalation of Emmet appears duplicated
1. Update Emmet
2. Uninstall one of them

**Atom Version**: 1.1.0
**System**: Mac OS X 10.10.5
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.18.1

### Stack Trace

Failed to activate the emmet package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-10 18:44] johnrlive commented on #92
I reinstalled pigments plugin by typing this in terminal: 'apm install pigments'
Then I restarted Atom and it worked.

[2015-11-10 19:19] denis-sokolov opened #112 "Disable color word highlight in the comments"
In my style files I often use words in comments.
The following looks disrupting:
<img width="444" alt="1" src="https://cloud.githubusercontent.com/assets/113721/11072824/73df796a-87f0-11e5-8432-51872a605074.png">

I can see the value of highlighting a complicated value in a comment, but simple color words are not worthy highlighting in the comments. Can I request an improvement to disable that?

I

[2015-11-10 21:39] ncammarata commented on #16
has there been any update on this?

[2015-11-10 21:44] shakycode commented on #92
@johnrlive I did the same thing and it worked for me.  Thanks for posting.

[2015-11-11 01:17] robsonsobral commented on #49
Hi!

I saw that `tint`, `shade` work and I gonna ask you for [another custom function](http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/):

[code]

But you're right. You can't implement everything from every library. I though you could was actually executing the functions.

By the way, the reference you're using for Compass is wrong.

From [Compass](https://github.com/Compass/compas

[2015-11-11 02:23] grantmnelson commented on #92
I encountered this error for the first time today (10 Nov '15) and was directed here when I clicked "this issue has already been reported." @johnrlive's fix solved it for me.

[2015-11-13 08:32] abe33 commented on #111
Hi @pakchano, it looks like #107 for me, can you confirm it works again after a reload?

[2015-11-13 08:32] #109 closed

[2015-11-13 08:34] abe33 commented on #112
Hi @denis-sokolov, have you take a look at the README?
Specifically, these sections should cover your needs:
- [Defining Where Pigments Applies](https://github.com/abe33/atom-pigments#defining-where-pigments-applies)
- [Ignored Scopes](https://github.com/abe33/atom-pigments#ignored-scopes)

[2015-11-13 08:40] abe33 commented on #105
@joshprice A bit of update, I've finally found the time to refactor Pigments to allow extension, it's still in an early stage, and not published yet, but if you download master you'll be able to play with it.

[2015-11-13 08:48] denis-sokolov commented on #112
My sincere apologies, I missed the ‘Ignored Scopes’ setting at first. Perhaps it is too fancily named for a quick scan. Again, sorry, and thank you.

[2015-11-13 08:48] #112 closed

[2015-11-13 12:32] aaromnido opened #113 "Uncaught TypeError: Cannot read property 'editor' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0
**System**: Mac OS X 10.11.1
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.18.1

### Stack Trace

Uncaught TypeError: Cannot read property 'editor' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-13 13:10] pakchano commented on #111
Yes, @abe33 it works now. I solved the issue this way, but I didn't come back to the comment before your reply. Thank you.

[2015-11-13 13:48] #111 closed

[2015-11-13 14:13] abe33 commented on #112
No problem, it's a recurrent issue, and despite the fact I've tried to improve the documentation it seems it's still not as clear as it should be.

[2015-11-15 14:31] abe33 commented on #49
@robsonsobral I'm currently working on making Pigments extensible through a service so I'll think on how you can implement your palette method (not sure since you're using a map and I don't support them for the moment).

Nah, too complex. First problem is that it would require to ship Pigments with all pre-processors, or to know how to find which pre-processor is used. It would also require to kno

[2015-11-15 14:33] abe33 commented on #49
Ok, I should have read my previous comment, as I already found out about the difference. I should be able to fix that then.

[2015-11-15 15:05] ccoenen commented on #92
Funnily, this issue bit me after the update to atom 1.2 (on windows). For some reason, pigments was stuck at 0.15 on my machine. And it appears to have been broken in a way that i couldn't open settings.
**Updating from command line worked** just fine. Just mentioning this, in case anyone else runs into this problem:

    C:\Users\user> apm update pigments
    Package Updates Available (1)
    └──

[2015-11-15 18:07] robsonsobral commented on #49
I should have read my comment too.

WTH that was supposed to mean? I'm sorry!

---

Yeah, I'm thing about to use maps for colors, but Pigments is so cool that I can't live without it.

Thanks, @abe33 !

[2015-11-15 19:12] #52 closed

[2015-11-15 20:10] rulonder opened #114 "Failed to activate the linter package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0
**System**: Microsoft Windows 10 Pro
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.18.1

### Stack Trace

Failed to activate the linter package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-15 22:13] joshprice commented on #105
Awesome will check it out!

[2015-11-15 22:26] abe33 commented on #92
Glad to hear that it works again for you, starting with the next version Pigments will be using a new trick to allow updates of custom elements, so with later updates this kind of thing should no longer appear (as long as there's no change in Atom API that breaks Pigments).

[2015-11-15 22:31] abe33 commented on #49
Actually I do use maps a lot, but I also generally defines my palette with variables first, then build a palette as a map to ease the generation of classes like `btn-primary`, `btn-danger`, etc.

I've implemented something similar to support Stylus' hash, but sass maps are much more complicated as you have to use specific methods to access their content (while in Stylus you can just use something

[2015-11-15 22:34] #103 closed

[2015-11-15 22:36] abe33 commented on #105
Just starting to write documentation about that:

https://github.com/abe33/atom-pigments/blob/master/docs/extending-pigments.md

It still need to be improved with some example of how to use without a package (from the init script for instance).

[2015-11-15 22:37] abe33 commented on #114
Hi @rulonder, please refer to #92 if you want explanations and details about the source of the issue. As for the solution, just restarting Atom should fix that.

[2015-11-16 11:16] robsonsobral commented on #49
I agree. The `map-get()` is too complex. I tried to use something link `$gray-#{$tone}`, but it doesn't work.

Thank you, @abe33 .

[2015-11-16 11:24] robsonsobral opened #115 "HSL with float values are being ignored"
Hi!

Colors like `hsl(24.3, 100.0%, 82.5%);` aren't generating markers.

[code]

On previous sample, the first and the second just

- Pigments 0.18.1
- Atom 1.2.0
- Windows 10

[2015-11-16 12:57] abe33 commented on #115
I think you're the first person I see that uses float in hsv/hsl construct. I assumed hsl/hsv was using integers and not floats, but it seems I was wrong. I'll fix that soon.

[2015-11-16 14:33] robsonsobral commented on #115
Sometimes, I convert a color to HSL and slowly edit the L channel. It's something I started to do before to adopt SASS.

Thank you, @abe33 !

[2015-11-16 16:00] #115 closed

[2015-11-17 10:11] abe33 commented on #113
Hi @aaromnido, sorry for the late reply, is it an error you get every time  you open a file? Did it disappear after reloading Atom?

[2015-11-17 11:50] abe33 opened #116 "Improve performances when updating color markers."
I'm looking for some way to improve Pigments updates and I would like to gather suggestions about the various strategy available.

For the use case, there's the [color parser specs](https://github.com/abe33/atom-pigments/blob/master/spec/color-parser-spec.coffee), with Pigments enabled it looks like this:

![color parser specs](https://cloud.githubusercontent.com/assets/247140/11208644/b0e50f6a-8d

[2015-11-17 19:58] nathansobo commented on #116
@abe33 this seems like a great candidate for a new decoration type, an "inline highlight". If you called `decorateMarker(m, {type: 'highlight', inline: true})`, instead of creating highlight divs that are absolutely positioned *behind* the text, it wraps the marked range in a span element with the desired class (or multiple if the range is multi-line). This would allow you to write inline styles d

[2015-11-17 23:59] abe33 commented on #116
Sure, that would be a great addition.

Actually, I don't use decorations for a few reasons:
- No decoration can change the text color, and this is mandatory if I want to use a contrasting color over a highlight decoration. Otherwise, depending on the theme, some colors will make the text unreadable.
- Highlight decorations cannot receive custom attributes and don't support the `item` property. In

[2015-11-18 01:11] nathansobo commented on #116
@as-cii actually experimented with an implementation to do this for all highlights in order to save rendering cost, but he abandoned it due to usability issues with interleaved spans when highlights overlap. Opting in to this behavior only when needed however eliminates the usability problems. Not sure if @as-cii has the code, but maybe he could at least describe the approach he had in mind for de

[2015-11-18 15:16] abe33 commented on #105
Ok, the services are now available in latest release. I'm closing the issue then.

[2015-11-18 15:16] #105 closed

[2015-11-18 15:17] abe33 commented on #97
@sanusart Starting with v0.19.0 you'll have access to a gutter marker type :sparkles:.

[2015-11-18 15:17] #97 closed

[2015-11-18 15:24] abe33 commented on #116
Haven't tried. but overlays decorations are bound to either the marker's head or tail, right?
So if I want to attach them to the line itself I need to create another marker for the whole line, and then attach an overlay decoration to it with all the dots as its item content. Or maybe I missed something?

[2015-11-18 19:00] sanusart commented on #97
:+1:
Wonderful news @abe33
Thank you very much!

[2015-11-18 20:28] corintho commented on #30
Sorry to bring the topic back up again, but would it be possible to at least try to parse variables assignments to assemble the Project Palette? I think that should not be a big issue, nor a performance bottleneck and I think would be a great addition to have. I'm willing to try this if that seems reasonable.

[2015-11-18 22:07] aaromnido commented on #113
Hi abe,

Nope, The error didn't disappear when we restarted Atom.
For fix that, I uninstalled pigments plugin.

[2015-11-18 22:14] malonehedges opened #117 "Failed to load the flint package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.1
**System**: Mac OS X 10.11.1
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.19.0

### Stack Trace

Failed to load the flint package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-19 05:35] nathansobo commented on #116
I think you should be able to create a marker on the end of the line. We may need to improve the API if you can't position them quite where you want, but it feels like the proper tool.

[2015-11-20 00:46] malonehedges commented on #42
Happening with me as well. Occurred after I encountered #117

[2015-11-20 10:35] abe33 commented on #117
Hi @malonehedges, does a restart helps or do you get this error on every start?

[2015-11-20 20:06] malonehedges commented on #117
@abe33 Now I am getting #42 after restarting.

[2015-11-21 06:01] joshprice commented on #105
Thanks!

[2015-11-22 21:25] MunifTanjim commented on #21
same issue.

os: `ubuntu 15.10`
atom version: `1.2.2`
atom-pigments version: `0.19.0`

done [this](https://github.com/abe33/atom-pigments/issues/21#issuecomment-107597141).

config:
[code]

atom.packages.getActivePackage('pigments').mainModule.getProject().getPaths() returns nothing:
`[]`

color variable file is located at:
`/sass/variables-site/_colors.scss`

color variables format in `_color.scs

[2015-11-24 15:50] ChillOut05 opened #118 "Uncaught TypeError: Cannot read property 'getProject' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.4
**System**: Unknown Windows Version
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.19.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getProject' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-25 10:39] abe33 commented on #118
Hi @ChillOut05, thank you for the report, can you tell me a bit more about the context? Did you disable pigments or something before that error occured?

[2015-11-25 23:22] xak2000 opened #119 "Show Palette ignores ignoring bower_components in .gitignore"
I have a `.gitignore` file in root of my project and `bower_components` is there.
And I have setting `Ignore VCS Ignored Paths` enabled in `Pigments` package.

When I do `Pigments: Show Palette` then it shows many colors from `bower_components` directory.
I think it is incorrect as `bower_components` is listed in my `.gitignore`.

But when I do `Pigments: Find Colors` then it shows only colors fro

[2015-11-26 09:56] ChillOut05 commented on #118
@abe33 thank you for the reply, but it seems like the error is gone know. Maybe there was some sort of conflict, but after restarting atom the problem is no longer detected. I'm sorry for disturbing you for nothing

[2015-11-26 10:34] abe33 commented on #118
@ChillOut05  No problem, thank you for keeping me updated on this.

I think I found why it could lead to this issue, I'll publish a patch soon.

[2015-11-26 10:48] #114 closed

[2015-11-26 10:49] abe33 commented on #117
@malonehedges Even after running `apm install` in the package directory?

[2015-11-26 10:49] #113 closed

[2015-11-26 11:02] abe33 commented on #30
@corintho Looks feasible. OTOH latest Pigments version introduce some new services to extend Pigments variables and colors expressions. I still have to write proper documentation for that, but if some want to give it a try it can take a look at how I create variable expressions: https://github.com/abe33/atom-pigments/blob/master/lib/variable-expressions.coffee

[2015-11-26 11:20] abe33 commented on #119
Hi @xak2000, are there paths to the `bower_components` directory when running `atom.packages.getActivePackage('pigments').mainModule.getProject().getPaths()` in the devtools console?
Also, does running the `Pigments: Reload` command helps?

[2015-11-26 15:15] #118 closed

[2015-11-26 21:07] xak2000 commented on #119
Yes. There are paths to the `bower_components` directory in array returned from `atom.packages.getActivePackage('pigments').mainModule.getProject().getPaths()`. It's 161 element array where almost all paths is for `bower_components` (my project have only 11 `.less` files).

No. Running the `Pigments: Reload` command doesn't help. After running it, `atom.packages.getActivePackage('pigments').mainMo

[2015-11-26 23:22] abe33 commented on #119
Hmm, ok, I guess I see where the issue comes from, I'll have to take a proper look at that. The main issue is that I can't use the Atom project scan to find variables, but I can use it to find colors, so the way the two processes deal with paths may differs.

[2015-11-27 15:14] abe33 commented on #119
Ok, I took some time to review the code, and even updated my tests to match your use case, but I don't seem to reproduce the issue.

The project fixture: https://github.com/abe33/atom-pigments/tree/master/spec/fixtures/project-with-gitignore
The test: https://github.com/abe33/atom-pigments/blob/master/spec/color-project-spec.coffee#L551-L620

As you can see the build is green: https://travis-ci.or

[2015-11-27 16:39] xak2000 commented on #119
Actually this is default config after install. Just now I tried to install pigments on different computer with different OS. Previously it was Win7x64, now it is Ubuntu 12.04 x64. And just after install I restarted Atom and do:
`CTRL-SHIFT-P` `Pigments: Reload`
`CTRL-SHIFT-P` `Pigments: Find Colors`
`CTRL-SHIFT-P` `Pigments: Show Palette`
With same result as previously. Find colors works fine and

[2015-11-28 01:24] abe33 commented on #119
@xak2000 :bow: thank you so much for your time, now that I know that you're using nested git projects I'll be able to create a test case for that and investigate. As you point there's probably a difference between Atom and Pigments given that in Pigments I never consider nested git repos.

For the moment, I think I have everything I need to advance on that front. I'll make sure to ask if I ever ne

[2015-11-28 01:40] xak2000 commented on #119
For clarification: There are no nested git repos. This is actually one git repo. Just nested folders.

[2015-12-02 17:45] franciscod commented on #21
same here

[2015-12-03 09:08] abe33 commented on #21
@MunifTanjim Sorry, I missed your comment. Does the `"sass/**/*.scss"` in your source names really necessary? Just `"**/*.scss"` should match them.

There must be something I missing because there appears to have two contradicting case (see #119). In one case some legit files aren't found, and in the other some to-be-ignored file are not ignored.

[2015-12-03 11:44] intellix commented on #83
400ms here on a MBP

[2015-12-03 18:33] MunifTanjim commented on #21
os: `ubuntu 15.10`
atom version: `1.2.4`
atom-pigments version: `0.19.0`

now, everything it's working as expected. just updated the atom version.

[2015-12-10 23:47] zachrnolan opened #120 "Uncaught TypeError: Cannot read property 'apply' of undefined"
[Enter steps to reproduce below:]

1. Installed atom-pigments from within Atom.

**Atom Version**: 1.3.1
**System**: Mac OS X 10.11.1
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.19.2

### Stack Trace

Uncaught TypeError: Cannot read property 'apply' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-11 01:13] marcio commented on #120
+1

[2015-12-11 01:17] arestivo commented on #120
I'm getting the same error.

Atom version: v1.4.0-beta0-ed7283f (32-bit instaled from source)
Pigments version: v0.19.2
No other packages

[2015-12-11 03:00] PuYart commented on #120
+1

[2015-12-11 03:08] mitchmalone commented on #120
Yup

[2015-12-11 03:22] tgaeta commented on #120
+1

[2015-12-11 04:07] mistadikay commented on #120
+1

`Atom 1.4.0-beta0`
`pigments 0.19.2`

[2015-12-11 04:48] suenot commented on #120
+1
Atom 1.3.1
pigments 0.19.2
windows 7
[code]

[2015-12-11 04:50] calidion commented on #120
+1

[2015-12-11 04:51] agucova commented on #120
+1
    Atom 1.2.4
    Pigments, v0.19.0
    OSX 10.11.11

[2015-12-11 07:12] dagstuan commented on #120
+1

[2015-12-11 07:16] gomsilruk commented on #120
+1

[2015-12-11 08:06] yestoall commented on #120
+1

[2015-12-11 08:26] abe33 commented on #120
Thank you all for the feedback, looks like I screwed up the last version of atom-utils, I'll publish a patch asap

[2015-12-11 08:43] #120 closed

[2015-12-11 09:08] abe33 commented on #120
I just published a patch that bumps the version of atom-utils to the version with the fix.

[2015-12-11 09:18] dagstuan commented on #120
I still have the issue with v0.19.3

[2015-12-11 09:27] abe33 commented on #120
@dagstuan after updating from within Atom?

[2015-12-11 09:32] timpalander commented on #120
I Just installed Atom fresh and installed Pigments. I'm getting this error.

[2015-12-11 09:35] abe33 commented on #120
If you still get this error please verify that the version of the `atom-utils` module (located in the package's `node_modules` directory) is `0.9.2`. If not, remove the whole `node_modules` run `apm install` in the package directory.

[2015-12-11 14:32] tgaeta commented on #120
Got an error after update; however, got it working by killing Atom and booting it back up.

Steps to reproduce:

1. Install pigments package
2. Open file containing hex values

Steps to fix:

1. Kill Atom and boot it back up
2. Open file containing hex values and see pigments working

**Atom Version**: 1.3.1
**System**: Mac OS X 10.11.2
**Thrown From**: [pigments](https://github.com/abe33/atom-pig

[2015-12-11 15:00] timpalander commented on #120
Ok this is weird. Here's how i fixed it.

- Uninstalled pigments
- Install minimap-pigments
- install pigments
- Restart Atom

[2015-12-11 16:36] abe33 commented on #120
I have the feeling there are more and more weird things with packages update lately.

[2015-12-11 19:06] afomi commented on #120
+1 @timpalander - this resolved the issue for me as well - although I am not clear as to why.

[2015-12-13 21:36] juanfernandoe opened #121 "Slow down and freeze entire editor when open html file"
I hope it helps to solve the problem,

my editor was freezing every time i open a html file, after i disable pigments everything works fine.

[2015-12-13 21:37] juanfernandoe commented on #43
+1

[2015-12-13 21:37] juanfernandoe commented on #102
+1

[2015-12-13 22:36] abe33 commented on #121
Hi @juanfernandoe, can you provide a sample so that I can reproduce the issue? There might be some edge cases I haven't considered, but without reproduction I won't be able to narrow down the issue and fix it.

[2015-12-15 10:24] jenskanis commented on #120
+1

[2015-12-15 19:41] geebru commented on #108
Strangely enough I'm seeing this issue now when I highlight a large block of text and try to delete it.

See quick gif here - http://cl.ly/390l1b3R0935

Seems to only occur on larger blocks (and seemingly randomly). I can't accurately reproduce this but figured I would throw a comment here to see if I'm doing something weird.

[2015-12-15 19:59] YuriSolovyov commented on #108
I must say I didn't seen this for long, but I was able to reproduce it by:
- repeating jQuery source several times
- saving .js file
- closing editor
- opening file
- deleting whole content or bug chunk in the middle.

Might require some additional steps, but in general works like so.

[2015-12-16 16:48] c9dd commented on #121
I have the same issue here. How do I give you what you need so you can reproduce the issue?

[2015-12-16 22:49] abe33 commented on #121
If you're working on a public project you can just provide me the link to it. If it's a private project, the best would be to provide the smallest HTML sample that triggers this issue. One important thing to note here: as Pigments works on a whole project, problem can arise in file due to the context, but not necessarily if the same file opened outside the project's context, that's why having a sa

[2015-12-18 10:38] craft37 opened #122 "Crashes on openning _.yml"
Subj

[2015-12-18 11:34] abe33 commented on #122
Hmm, thank you for this report, but don't you think you could provide a bit more information? Like a sample yml file that triggers the crash, or an explanation of what you call a crash.

FYI, I'm working with yml files every day and never had any issues.

[2015-12-19 00:10] nunocastromartins commented on #108
I can confirm. I keep getting this error when deleting large blocks of CSS. Had to disable the package as it was becoming quite annoying.

[2015-12-21 21:20] powerbreak opened #123 "Malware?"
![mal](https://cloud.githubusercontent.com/assets/16387598/11941574/eab6bab6-a830-11e5-8048-98809be23ac8.jpg)
So i dont know whats up with this but avast is poping up malware alert. Its probably a false positive but it doesn't appear on any other package i open.

[2015-12-22 08:48] abe33 commented on #123
I see a `cdn.rawgit.com` in the popup, it looks like avast consider the svg logo as a threat (https://cdn.rawgit.com/abe33/atom-pigments/master/resources/logo.svg for the exact url). I have to use rawgit because github serves raw SVG as plain text, preventing Atom/Chromium from displaying it. But it's just a plain svg image, rawgit only change the mimetype of the server response.

I'm not sure wha

[2015-12-22 10:23] yoohahn commented on #121
I can see it with only 1 file open that is completely empty. As soon as I start typing Atom freezes for like ~500ms and then it's back again. And this happens over and over again. It worked before I did an update (I am pretty sure that I was using v0.19.1 before, but will try to down grade during the day to see if it gets better)

I have not seen this on my Mac at home, but at work I am using Wind

[2015-12-22 15:13] JesseLeite opened #124 "Rendering issue when editing themes using --dev mode."
I've noticed some really funny rendering when pigments is enabled, and I'm editing an Atom theme using `atom --dev` mode.  This is what is happening...

I have a colours.less file, and a base.less file in my theme.  This is what colors.less looks like:
![example](http://b3.ms/Oq5nR4jj90wB)

If I switch tabs and save base.less, then switch back to colors.less, I get this:
![wat](http://b3.ms/Y2g9Kl

[2015-12-22 15:19] abe33 commented on #124
I guess you're on running Atom on master? I've opened an issue on atom for that matter (atom/atom#10051). I still haven't found a good way to reproduce this issue so that I can write a test for it and submit a patch.

[2015-12-22 15:23] JesseLeite commented on #124
Yes on master :)  I notice atom/atom#10051 describes "invalid x position".  However, on top of x position, pigments doesn't render the marker/background color either.  Why might x position be affecting marker/background rendering?

[2015-12-22 15:34] abe33 commented on #124
Because the region div's left and width property are actually 0 the marker's background isn't visible, but as no overflow is applied the text is still visible

[2015-12-22 15:36] JesseLeite commented on #124
Ah interesting.  Thanks!  Feel free to close this, if you'd rather just deal in the atom issue thread.

[2015-12-22 15:40] abe33 commented on #124
I think I'll leave it open so that people experiencing the same issue can find it more easily.

[2015-12-22 16:53] abe33 commented on #124
@JesseLeite It should be fixed in v0.19.4 by making sure the markers are rendered on a new animation frame. Let me know if you still get this issue.

[2015-12-22 17:02] JesseLeite commented on #124
Oh nice thanks!  It was in your code, not Atom core?  Also, which master stream release should 0.19.0 be included in?

[2015-12-22 17:32] abe33 commented on #124
There's is a regression in Atom, but I found a way to workaround it.

I'm not sure what you mean, are you talking about Pigments or Atom?

[2015-12-22 17:33] JesseLeite commented on #124
Oh it's just a package update.  I'll test it out now, thanks!

[2015-12-22 17:40] JesseLeite commented on #124
Hmm, just updated to 0.19.4, then restarted Atom completely.  Still having problem when running `atom --dev`.  Here's a screencast:

![screencast](http://g.recordit.co/KMetPgr5Fj.gif)

I'm triggering the issue by saving one file, then switching tabs to other file.  Then I fix rendering by saving that file.

[2015-12-22 18:02] abe33 commented on #124
Hmm, I'm not reproducing.
I see that there's the blue squirrel at the right bottom of Atom, which version are you running?

[2015-12-22 18:25] JesseLeite commented on #124
This is version 1.3.2.  It doesn't happen when running Atom normally.  It only happens when I open Atom in dev mode using this command: `atom --dev`

Trying to figure out how to open 1.4.0 beta using --dev mode, then I'll test there as well.

[2015-12-22 18:32] JesseLeite commented on #124
Oh found an option in menu (View > Developer > Open in Dev Mode).  Here's same thing happening in 1.4.0-beta3 running in --dev mode:

![screencast](http://g.recordit.co/zkJvOxAMzX.gif)

[2015-12-22 18:34] abe33 commented on #124
I'm not really seeing what could go wrong here, I'll reopen and investigate to see if I can find a way to reproduce that behaviour.

[2015-12-22 18:40] JesseLeite commented on #124
No problem, thank you for your time and replies as well!

I just tried using Package Cop to disable all 3rd party packages.  Then I enabled only Pigments, and reloaded window just to be sure.  Still having same issue.  Just wanted to be sure another 3rd party package isn't interfering.  And again, it only seems to happen in --dev mode.  Hope it helps.

[2015-12-23 08:49] abe33 commented on #124
Looks I didn't checked properly, I reproduce that on a project in dev mode, and not in normal mode. Maybe there's some kind of extra delay in dev mode when rebuilding the lines of the editor that make my fix pointless in dev mode.

[2015-12-23 10:05] abe33 commented on #124
@JesseLeite I just published a new version, let me know if it solves things for you. I force a rerender of the markers that have an empty region. In my tests it seems to fix this issue.

[2015-12-23 13:31] JesseLeite commented on #124
Before I updated to 0.19.5, I did one more test this morning and noticed it didn't happen even on 0.19.4.  I played with things a bit, and realized I had a different theme active.  I guess it's not just --dev mode, but it's --dev mode when editing a theme I have active.  For example, I'm making [this theme](https://atom.io/themes/an-old-hope-syntax), and had it both active and in --dev mode so tha

[2015-12-23 13:33] JesseLeite commented on #124
Also Merry Christmas! :christmas_tree:

[2015-12-23 13:43] abe33 commented on #124
Interesting, I'll give it a try to see what could go wrong.

Merry Christmas to you too :)

[2015-12-23 13:45] JesseLeite commented on #124
Yeah, I mean you fixed the issue already with that last update... but might help if you knew the cause more specifically :)

[2015-12-23 16:03] 6 commented on #16
:+1: this would be awesome

[2015-12-31 19:03] ezekg commented on #50
Any plans for picking up palettes defined like this?

[code]

[2016-01-06 09:59] smnbbrv opened #125 "causes 100% cpu Atom Helper issue"
on MacBookPro on a specifically big project leads to 100% cpu issue. This appeared within some of the last updates, there was no problem like that before.

After a couple of hours this process becomes so annoying that the whole OS freezes and a laptop becomes so hot that I can cook pancakes.

Disabling the package solves the issue.

[2016-01-07 09:58] gampleman opened #126 "Ignore particular colors"
Our product does some stuff with Microsoft Azure. As you may imagine, the string `Microsoft Azure` is littered all over the code base. I would really like to be able to set Azure as an ignored color, since our design doesn't use azure as a color.

[2016-01-07 13:59] abe33 commented on #126
Hi @gampleman, looks you got the same issue than in issue #110, you can [limit the scope of Pigments](https://github.com/abe33/atom-pigments#defining-where-pigments-applies) by specifying the file extension to support or the scope to ignore.

[2016-01-07 14:00] gampleman commented on #126
Yeah but I can't easily do that, because Azure is mentioned in files that contain valid color references (i.e. charting code).

[2016-01-07 17:08] abe33 commented on #126
Hmm, this should do the trick until I think of a better solution:

[code]

Put that in your user stylesheet and it will hide all the markers with the azure color.

[2016-01-08 12:08] ricardograca commented on #125
Same thing on Ubuntu. Here is a CPU profile to help diagnose the issue.
[CPU-20160108T120151.cpuprofile.zip](https://github.com/abe33/atom-pigments/files/82644/CPU-20160108T120151.cpuprofile.zip)

[2016-01-10 12:57] molovo commented on #108
I'm also receiving this is SASS files (indented-syntax only). Highlight a block of text, and one of either backspace, delete or ctrl+x will cause the error. It's very random, sometimes backspace doesn't work, so I have to hit delete, sometimes vice-versa.

[2016-01-11 15:18] danbohea opened #127 "Ignored scopes not applied if marker type set to "gutter""
I've entered `\.comment` in the "Ignored scopes" to stop colour words in comments from being highlighted. This works fine with the exception of when "Marker type" is set to `gutter`.

[2016-01-11 16:25] abe33 commented on #125
Hi guys, thanks for the report.

@ricardograca thank you for providing a CPU profile, I'll take a look at it when back home. My guess is that there might be an infinite loop triggered somewhere in the background task (I encountered one once) but as it don't raise anything in the main thread it's quite hard to detect and debug.

[2016-01-11 17:44] abe33 commented on #127
Hi @danbohea. Nice catch, I'll try to take some time to fix that during this week.

[2016-01-11 17:44] #124 closed

[2016-01-11 18:11] danbohea commented on #127
Many thanks. Fantastic package btw :)

[2016-01-11 19:33] #127 closed

[2016-01-11 19:35] abe33 commented on #125
I reviewed the code and found a condition leading to an infinite loop when parsing an expression, I published a patch for this case, let me know if you find some improvements with the new version.

[2016-01-11 19:35] abe33 commented on #102
I reviewed the code and found a condition leading to an infinite loop when parsing an expression, I published a patch for this case, let me know if you find some improvements with the new version.

[2016-01-11 19:35] abe33 commented on #95
I reviewed the code and found a condition leading to an infinite loop when parsing an expression, I published a patch for this case, let me know if you find some improvements with the new version.

[2016-01-11 19:36] felics commented on #102
ty for your help, I'm going to test it tomorrow and get back to you

[2016-01-11 22:06] ricardograca commented on #125
That didn't fix the issue. I upgraded to 0.19.6, and as soon as I enabled the package again the CPU usage spiked again. It seems to be slightly lower than last time, but it's still very high. Do you want another profile?

[2016-01-12 08:56] abe33 commented on #125
@ricardograca Have you restarted Atom after the update? I'm not really sure how the compile cache plays for background tasks.
Are you sure that's the Atom main process that reach 100% or is it the Atom helper one? I'm just trying to figure what could go wrong.
Also, do you get the same behavior with a relatively small project ?

[2016-01-12 11:15] ricardograca commented on #125
Yes, I've restarted it. I don't think it's the main process. The process that gets high CPU usage doesn't actually say "helper" anywhere, it's just a child process of the main one. With a small project the issue is not present.

I now waited about 10 minutes after enabling Pigments on a larger project and the atom process is still using a lot of CPU time:

![captura de ecra de 2016-01-12 11 09 15]

[2016-01-12 12:08] abe33 commented on #125
By chance, is your project public? Or maybe is there a simple for me to reproduce the setup of your project?

[2016-01-12 12:31] ricardograca commented on #125
No to both of those questions. It could be a particular file that is causing the problems right?

After some more testing I'm almost certain that this issue is not dependent on the project size. I think that it's something else, and bigger projects just have a higher chance of having that something that causes the issue.

I opened a few local forks of some relatively large projects (node-mapnik, m

[2016-01-12 12:56] abe33 commented on #125
That's what I suspect, if threre's a file that contains some expressions that Pigments fails to parse, leading to an infinite loop somewhere (like when parsing expressions with nested parenthesis or square brackets) it could explain why the CPU is always this high (a background task is started, start looping over and over, but will be killed when a new task is started), that could also explain why

[2016-01-13 00:55] fignoni opened #128 "Pigments blowing up console in Atom"
Pigments is completely blowing up my console in Atom.  It means I can't work on any of my projects, and I can't use any of Atom's preferences or settings panes, which means I can't uninstall it using the GUI or run any updates.

The errors are uncaught (in promise) type errors coming from color-buffer-element.coffee.

pigments/lib/color-buffer-element.coffee:259 Uncaught (in promise) TypeError: th

[2016-01-13 00:58] fignoni commented on #128
Hey, I found this thread and my issue might be a duplicate of it: https://github.com/abe33/atom-pigments/issues/92

I will see if the solution in the threat fixes my issue.

[2016-01-13 10:33] abe33 commented on #128
You probably aren't using the latest pigments version, you should update it using `apm update` or through the settings view.

[2016-01-13 12:04] felics commented on #102
Seems to be fixed for me :beers:

[2016-01-14 17:28] fignoni commented on #128
No, I'm pretty sure I wasn't.  However, it broke the Atom GUI so that I couldn't get to settings at all.

I ended up using `apm uninstall` just to get rid of the issue, and I'll try reinstalling it with the most updated version, but for people who don't know how to do that via command line, having the GUI broken is bad.

[2016-01-14 17:28] #128 closed

[2016-01-15 08:42] abe33 commented on #128
Sure, but there's nothing I can do. I can't put a upper limit to a package compatibility range as I don't know when the core team will break some API. In that case I submitted the patch even before the official release of the new API, but if people don't update on time I can't do anything about it.

BTW, you can update from the CLI using `apm update`.

[2016-01-16 05:14] montogeek commented on #17
Hello!

I just got this error, the package got an update, when reactivating it the error appears.

[2016-01-16 16:12] melvitax opened #129 "Uncaught TypeError: Cannot read property 'isValid' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.0
**System**: Mac OS X 10.11.2
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.19.6

### Stack Trace

Uncaught TypeError: Cannot read property 'isValid' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-16 18:51] #123 closed

[2016-01-16 18:51] #122 closed

[2016-01-17 01:01] davidbarker commented on #108
I just received this error when attempting to delete ~50 lines from a .scss file.

[2016-01-18 22:52] #82 closed

[2016-01-18 22:54] #129 closed

[2016-01-19 16:07] enuzzo opened #130 "Display variables of @import files"
I use a main.scss file for general styling and a _colors.scss that I "@import".
I didn't find a way to show pigments colors on the side of my variables in the main.scss file.

[2016-01-20 10:38] abe33 commented on #130
Weird, it should works out of the box (that's one of the basic use case of the package). Is your `_color`.scss` file part of the project as well ? (Actually pigments doesn't really follow imports, but it rather consider every variables defined in a file of the project available project-wide)

[2016-01-20 15:06] cherealnice opened #131 "Colors not lining up on update to 0.20.0"
![screen shot 2016-01-20 at 10 05 33 am](https://cloud.githubusercontent.com/assets/8879389/12452630/6b109fc2-bf5d-11e5-8311-615a58dcd0a8.png)

Using One Dark UI and Slatechalk syntax theme

[2016-01-20 15:13] #131 closed

[2016-01-20 15:34] enuzzo commented on #130
I had to create a project in order to see them. It works now. Thanks.

[2016-01-20 15:34] #130 closed

[2016-01-20 15:43] #126 closed

[2016-01-20 15:44] abe33 commented on #102
Glad to hear that, I'm closing this issue then. I'll still be looking for improvement in that area though.

[2016-01-20 15:44] #102 closed

[2016-01-20 16:01] abe33 commented on #131
Hi @cherealnice, I guess the markers came back to their rightful place after starting scrolling? I also see it from time to tim but I still haven't found a proper way to detect that situation.

[2016-01-21 09:55] AngelsDustz opened #132 "Exclude specific css file/any file."
Could you make it possible to make a costume exclude list?
So can you exclude ex: bootstrap.min.css because opening a file that big with pigments causes major lags. But since it's a minimalized file you don't really want it anyway.
So it would be really neat if you could make an exclude rule like *.min.css and it wouldn't run on any .min.css file or any other pattern you give up.

[2016-01-21 11:53] abe33 commented on #132
Hi @AngelsDustz, thanks for the suggestion, it doesn't look too hard to implement so I think I can give it a try.

[2016-01-21 11:58] gampleman commented on #126
I wonder if we could use the surrounding context to create a black list of things that sound like colors, but are not:

- Windows Azure
- Red Hat

[2016-01-21 16:14] abe33 commented on #126
@gampleman I was thinking of making a pass to review the scopes of the various color expressions (as they now support scopes), maybe I can seriously limit the scope of SVG colors.

[2016-01-23 01:59] stugol opened #134 "Define my own colours?"
In a project I'm writing, there are constants such as LIGHTRED, DARKBLUE etc, that are not highlighted because they're not standard colour names. How can I specify colours for these, and have Pigments highlight them?

[2016-01-24 19:24] abe33 commented on #134
It depends on how you defines these colors. Do you mind giving me more details about how these colors are defined so that I can see which method would be best in your case?

[2016-01-24 19:29] stugol commented on #134
Sure. In this particular case, it's Ruby and/or Crystal code:
[code]

[2016-01-24 20:00] abe33 commented on #134
Putting the following code in your init script should fix it:

[code]

It's a bit more complicated that what I originally thought but it does the trick. I'll think of a better way to extend pigments as for the moment expression callback function cannot reuse their scope.

[2016-01-24 20:21] stugol commented on #134
Thanks. There are a couple of problems, however.

Firstly, BK_DARKGREY renders in a midnight blue unless I replace its definition with '#333333'. Secondly, only some of the colours are being shown, even normal ones.

![Screenshot](http://img.ctrlv.in/img/16/01/24/56a531fa1f332.png)

[2016-01-24 21:40] abe33 commented on #134
Oh right, it should match spaces before `=` in the expression, something like this should do the trick:
[code]

[2016-01-24 21:50] stugol commented on #134
No...?

[2016-01-24 21:54] stugol commented on #134
The problem occurs when the words are preceded by tabs. The three that display correctly in the screenshot had spaces as well as tabs. I've corrected that now, and now I have no colouration whatsoever in the first list :(

[2016-01-24 22:19] abe33 commented on #134
Actually, the colors should not be highlighted when on the left side of an affection, hence the `(?![-\\.:=\\(])` in the expression above which matches only when the color is not followed by `.`, `:`, `=` or `(.
The idea here is that in most cases you don't really care about having the name of a color highlighted when defining it since the right part of the affectation should already display the c

[2016-01-24 22:23] stugol commented on #134
Then why are the colours you helped me define (LIGHTRED and BK_DARKGREY) highlighting to the left of an assignment?

![](http://grab.by/NAcQ)

[2016-01-24 23:12] #16 closed

[2016-01-24 23:12] #132 closed

[2016-01-24 23:13] abe33 commented on #132
It's now available as the `ignoredBufferNames` settings in v0.21.0

[2016-01-25 00:02] abe33 commented on #134
Oh right, that's because I omitted to put a space character match in the expression, the negative lookahead should like this instead: `(?![ \\t]*[-\\.:=\\(])`

Like in the color expression for SVG colors: https://github.com/abe33/atom-pigments/blob/master/lib/color-expressions.coffee#L291

[2016-01-25 03:01] stugol commented on #134
I have another question. DARKGREY isn't dark enough. How can I modify the actual colour shown?

Adding an entry to the init script didn't help, because the colour is already defined.

[2016-01-25 08:03] JohJohan commented on #132
Very nice update, now we are able to load big file very fast just setting

*.min.css

Thank you

[2016-01-25 08:36] abe33 commented on #134
You still can, using the init script, expressions are sorted using a priority value, in that case you can pass a numeric value before the scopes to make the expressions appears before the SVG one:

[code]

[2016-01-25 16:32] DerNivel opened #135 "Color picker shows wrong color in SCSS"
When using something like `transparentize(#fff, .5)` in SCSS the opened color picker shows a wrong color when opened through the color dot.
Maybe you should disable the functionality of opening the color picker through a click on the color dot in these cases or forward the compiled color to the color picker if possible.

[2016-01-25 18:18] stugol commented on #134
I already tried that. It didn't help at all.

[2016-01-25 21:28] abe33 commented on #135
Haha, nice catch @DerNivel, actually I knew about this issue, I was just curious to see how fast it would be discovered (I had anticipated that by adding a method to know if a color relies on variables or not: https://github.com/abe33/atom-pigments/commit/273f9b298726174852d88be8cf0180a0b1d4222e).

Ideally I would like the color-picker API to provide a way to let me set the color, so that I can sp

[2016-01-25 22:41] DerNivel commented on #135
Ah ok. Thanks for the information. I updated to the new version and this issue was the first thing that got my attention :smile:

[2016-01-26 08:25] AngelsDustz commented on #132
Cheers for the update works perfectly! (y)

[2016-01-26 08:35] abe33 commented on #132
Glad to know you find it helpful, it was easier than I thought and I really wonder why I didn't took this approach at first, my past me must have been really tired XD.

[2016-01-26 12:08] abe33 commented on #135
Version 0.21.0 now prevents from opening the color picker if the color doesn't isn't a hexadecimal color.

[2016-01-26 12:10] abe33 commented on #134
You're right, looks like it's missing something, I got the proper color when followed with a `)` but not when followed with a `space`, let me sometime to think about a better solution. Maybe I'll add a way to directly define custom colors for a project instead of having to add something in an init script.

[2016-01-26 15:21] DerNivel commented on #135
On things like `transparentize(#fff, .5)` the color picker still opens and shows random colors.
On things like `$main-color` where the color picker doesn't showed a wrong color it doesn't open anymore.

[2016-01-26 18:04] abe33 commented on #135
Hmm, right I may have been too quick with that, I'll make a patch soon

[2016-01-27 14:05] smlombardi opened #136 "Uncaught TypeError: Cannot read property 'dataset' of null"
[Enter steps to reproduce below:]

1. Editing scss page, deleted a block of code
2. Accidentally clicked in doc gutter

**Atom Version**: 1.5.0-beta1
**System**: Mac OS X 10.11.4
**Thrown From**: [pigments](https://github.com/abe33/atom-pigments) package, v0.22.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dataset' of null

[code]

### Commands

[code]

### Config

[code]

### Inst

[2016-01-27 18:19] abe33 commented on #136
Hi @smlombardi, thanks for the report, I'll publish a patch soon.

[2016-01-27 23:00] #136 closed

[2016-01-27 23:17] abe33 commented on #135
I'll have to wait a bit to go further and let the color picker handle colors where variables are used since it would imply a complex work to check whether a variable holds an expression that can be matched by the color picker. But at least it should no longer open in context where it can't parse the color.

[2016-01-29 09:42] cedriceberhardt commented on #30
While having the representation of the color with dot or in the gutter, it is also maybe possible to show all the related colors. For the example above it would be green and red. And then show the selector with a tooltip?

And I don't think that we will have thousand of --color variables in our code. I really think people names variables properly, like nobody do `var variable = 32;` for example. E

[2016-01-29 13:12] pitops commented on #108
this error still exists when trying to use control-x to cut some javascript code which has css control

[2016-02-02 12:53] abe33 commented on #30
I'll start a first, naïve, implementation and we'll see how it turns out. I'm not really sure how useful or buggy it'll be so I'd rather test things directly. Stay tuned.

[2016-02-02 16:34] #106 closed

[2016-02-02 16:36] abe33 commented on #30
Ok, so I just published 0.23.0 with a simple implement that matches things like `--foo: <color>;` and then highlights instances of `val(--foo)`. But you'll have to add `**/*.css` in the source names setting (I did not want every user to see their loading time increase due to pigments scanning all the CSS for variables as well).

[2016-02-03 17:13] awayken commented on #30
@abe33 To clarify, does it look for `val(--foo)` or `var(--foo)`? I'm having issues seeing this work, and I'm trying to figure out if it's just me or not.

[2016-02-03 17:31] awayken commented on #30
@abe33 First of all, thank you so much for putting effort into this feature!

Second of all, it does look like you're searching for `val()` but it should be `var()`: https://www.w3.org/TR/css-variables/#using-variables

If I use `val()` like you have it, then I get the color highlighting. :fireworks: :tada: :trophy: :+1: Changing `val()` to `var()` should work perfectly.

Third of all, one thing I

[2016-02-03 18:23] abe33 commented on #30
Hi @awayken, thanks for the heads up, I think I had a really hazy brain when I coded that `val()` thing. I'll patch that asap. As for the color(...) thing, I'll take a look, but since CSS `color` function is [supposed to be supported](https://github.com/abe33/atom-pigments/blob/master/spec/color-parser-spec.coffee#L509) it may be just a matter of tweaking the regexp to allow `var()` in it.

[2016-02-03 20:24] Jojokats commented on #108
I also got this error today so there is still an issue.

[2016-02-03 23:11] abe33 commented on #108
@Jojokats, @pitops Hmm, are you sure the stack trace is the same? Just wondering if it could come from another part of Pigments.

[2016-02-03 23:12] abe33 commented on #30
It should be better with 0.23.1, let me know if you still find some issues.

[2016-02-04 15:51] awayken commented on #30
@abe33 At first, it didn't seem to be working. I closed all my Atoms and reopened them, and I was still getting the old behavior. I double-checked that my package was updated. I even browsed the code of the package and saw where you'd corrected the issue and added the new tests. I was a little baffled. Then I went back to the CSS file where I declare most of my variables, went back to the example

[2016-02-04 15:51] #30 closed

[2016-02-04 19:29] qnub opened #137 "Not all SASS files highlihted"
Strange behavior with highlighting in sass. I can't understand what files higlighs and why (i've added some test properties to display what's wrong):

**main file**
![image](https://cloud.githubusercontent.com/assets/496270/12826736/536ff992-cb9e-11e5-8177-1f32157b7201.png)

**variables**
![image](https://cloud.githubusercontent.com/assets/496270/12826767/768e306a-cb9e-11e5-8691-ef1cf83a1e5e.png)